<ul class="nav navbar-nav">
    <li class="{% if active_tab == 'runs' %}active{% endif %}">
        <a href="{% url 'runs' %}" title="Test Runs">
            <i class="icon-cogs"></i>
        </a>
    </li>
    <li class="{% if active_tab == 'tags' %}active{% endif %}">
        <a href="{% url 'tags' %}" title="Tags">
            <i class="icon-tags"></i>
        </a>
    </li>
    <li class="{% if active_tab == 'resources' %}active{% endif %}">
        <a href="{% url 'resources' %}" title="Resources">
            <i class="icon-desktop"></i>
        </a>
    </li>
    <li class="{% if active_tab == 'analyse' %}active{% endif %}">
        <a href="{% url 'analyse' %}" title="Analyse">
            <i class="icon-signal"></i>
        </a>
    </li>
    <li class="{% if active_tab == 'cdn-status' %}active{% endif %}">
        <a href="{% url 'cdnrun-index' %}" title="CDN">
            <i class="icon-film"></i>
        </a>
    </li>
    <li class="{% if active_tab == 'calamaris' %}active{% endif %}">
        <a href="{% url 'calamaris-list' %}" title="Calamaris Reports">
            <i class="icon-bar-chart"></i>
        </a>
    </li>
    {% comment 'disable eslog' %}
    <li class="{% if active_tab == 'eslog' %}active{% endif %}">
        <a href="{% url 'access-log-view' %}" title="Squid Access Log Viewer">
            <i class="icon-magic"></i>
        </a>
    </li>
    {% endcomment %}
</ul>
