<ul class="nav navbar-nav pull-right">
    <li><a href="/docs/" title="Docs"><i class="icon-book"></i></a></li>
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Running">
            <i class="icon-bolt"></i>
            (<span id="status-runs">0</span>)
            <span class="icon-caret-down"></span>
        </a>
        <ul class="dropdown-menu pull-right current-status"></ul>
    </li>
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Logs">
            <i class="icon-list"></i>
            (<span id="log-count">0</span>)
            <span class="icon-caret-down"></span>
        </a>
        <ul class="dropdown-menu pull-right log-content">
            <li>
                <h4>
                    <span class="text-danger">Errors</span> ::
                    <span class="text-warning">Warnings</span> ::
                    <span class="text-info">Info</span>
                </h4>
            </li>
            <li>
                <dl id="log-lines" class="dl-horizontal"></dl>
            </li>
        </ul>
    </li>
    {% if user.is_authenticated %}
        <li>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-user"></i>
                <span class="icon-caret-down"></span>
            </a>
            <ul class="dropdown-menu pull-right">
                <li><a href="#">Welcome <strong>{% firstof user.get_full_name user.username %}</strong></a></li>
                <li><a href="{% url 'run_create' %}"><i class="icon-cogs"></i> New Test Run</a></li>
                <li><a href="{% url 'resource_create' %}"><i class="icon-desktop"></i> New Resource</a></li>
                <li class="divider"></li>
                {% if user.is_staff %}
                    <li><a href="{% url 'admin:index' %}"><i class="icon-cog"></i> Administration</a></li>
                {% endif %}
                <li><a href="{% url 'logout' %}"><i class="icon-signout"></i> Log out</a></li>
            </ul>
        </li>
    {% else %}
        <li><a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"><i class="icon-signin"></i> Login</a></li>
    {% endif %}
</ul>
