{% load static from staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Performance | {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Performance Controller">
        <meta name="author" content="Nasimul Haque">

        {% compress css %}
            <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
            <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
            <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
            <link href="{% static 'css/select2.css' %}" rel="stylesheet">
            <link href="{% static 'css/pygments/default.css' %}" rel="stylesheet">
            <link href="{% static 'css/TableTools.css' %}" rel="stylesheet">
            <link href="{% static 'css/styles.css' %}" rel="stylesheet">
        {% endcompress %}

        {% block extracss %}{% endblock %}

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'ico/apple-touch-icon-144-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'ico/apple-touch-icon-114-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'ico/apple-touch-icon-72-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'ico/apple-touch-icon-57-precomposed.png' %}">
        <link rel="shortcut icon" href="{% static 'ico/favicon.png' %}">
    </head>

    <body>
        <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">Performance</a>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    {% include '_nav_main.html' %}
                    {% include '_nav_other.html' %}
                </div>
            </div>
        </div>

        <div class="main container">
            {% block content %}{% endblock %}
            <div class="push"></div>
        </div>

        <div class="clearfix"></div>
        <div class="footer">
            <div class="container text-center">
                <small>
                    An ounce of performance is worth pounds of promises.
                </small>
            </div>
        </div>

        {% for message in messages %}
            <div class="hide messages" data-type="{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}

        {% compress js %}
            <script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
            <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
            <script src="{% static 'js/ZeroClipboard.js' %}"></script>
            <script src="{% static 'js/TableTools.min.js' %}"></script>
            <script src="{% static 'js/FixedHeader.min.js' %}"></script>
            <script src="{% static 'js/select2.min.js' %}"></script>
            <script src="{% static 'js/jquery.noty.packaged.min.js' %}"></script>
            <script src="{% static 'js/moment.min.js' %}"></script>
            <script src="{% static 'js/d3.v3.min.js' %}"></script>
            <script src="{% static 'js/d3charts.js' %}"></script>
            <script src="{% static 'js/socket.io.js' %}"></script>
            <script src="{% static 'js/performance.js' %}"></script>
        {% endcompress %}

        <script>
            $(function() {
                $('table.datatable').dataTable({bPaginate: false, aaSorting: []});
                $('select').select2();
                $('.select2-container').removeClass('form-control');
                $('.badge').tooltip();
                $('.jshide').hide();
                $('.messages').each(function() {
                    var $elem = $(this), msg = $elem.text(), msg_type = $elem.data('type');
                    noty({text: msg, type: msg_type});
                });
                function current_status() {
                    d3.json('{% url "current_status" %}', function(data) {
                        var cur_status = d3.selectAll('.current-status');
                        cur_status.selectAll('li').remove();
                        if (!data || data.length == 0) {
                            $('#status-runs').text(0);
                            cur_status.append('li').append('a').text('All quiet!');
                            return;
                        }
                        $('#status-runs').text(data.length);
                        var li = cur_status
                            .selectAll('li').data(data)
                            .enter().append('li')
                            .style('border-color', function(d, i) { return ['#dff0d8', '#bce8f1'][i % 2]; })
                            .append('a')
                            .attr('href', function(d) { return d.url; });
                        li.append('div')
                            .attr('class', 'text-center')
                            .call(function(elems) {
                                elems.each(function(data) {
                                    var meter = d3.pchart.meter(this, data.start, data.eta, 120);
                                });
                            });
                        li.append('div')
                            .attr('class', 'text-center')
                            .text(function(d) { return d.title; });
                    });
                }
                current_status();
                setInterval(current_status, 50000);

                $.extend(true, $.fn.DataTable.TableTools.classes, {
                    container: 'DTTT-button-group btn-group',
                    buttons: {normal: 'btn btn-default', disabled: 'btn disabled'},
                });
            });
        </script>
        {% block extrajs %}{% endblock %}
    </body>
</html>
