{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% load performance_tags %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title text-center">
                Key performance by <strong>CACHE</strong>BOX model
            </h2>
        </div>
        <div class="panel-body">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    {% for key in perf_by_model %}
                        <li class="{% if forloop.first %}active{% endif %}">
                            <a href="#perf-by-key-{{ key }}" data-toggle="tab">
                                {{ key }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for key, runs in perf_by_model.items %}
                        <div id="perf-by-key-{{ key }}" class="tab-pane {% if forloop.first %}active{% endif %}">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Model</th>
                                        <th>Version</th>
                                        <th>Cache engine</th>
                                        <th>RPS</th>
                                        <th>BHR</th>
                                        <th>DHR</th>
                                        <th>Mbps</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for run in runs %}
                                        <tr>
                                            <th>
                                                <a href="{{ run.get_absolute_url }}">
                                                    {{ run.inputs.Model }}
                                                </a>
                                            </th>
                                            <td>{{ run.inputs.Version }}</td>
                                            <td>{{ run.cache_engine }}</td>
                                            <td>{{ run.outputs.RPS|param_split_val|safe }}</td>
                                            <td>{{ run.outputs.BHR|param_split_val|safe }}</td>
                                            <td>{{ run.outputs.DHR|param_split_val|safe }}</td>
                                            <td>{{ run.outputs.Mbps|param_split_val|safe }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <i class="icon-bolt"></i> Running now...
                    </h2>
                </div>
                {% if running %}
                    <ul class="current-status list-inline text-center"></ul>
                    <div class="panel-footer"></div>
                {% else %}
                    <div class="panel-footer">Nothing's running at the moment!</div>
                {% endif %}
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <i class="icon-desktop"></i> Resources available
                    </h2>
                </div>
                {% if resources %}
                    <div class="list-group">
                        {% for resource in resources %}
                            <a class="list-group-item" href="{{ resource.get_absolute_url }}" title="{{ resource.ip_address }}">
                                <span class="badge">{{ resource.rtype }}</span>
                                {{ resource.title }}
                                <small class="text-muted" id="resource-status-{{ resource.pk }}"></small>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="panel-footer"></div>
                {% else %}
                    <div class="panel-footer">All resources are in use! Get more resource!!</div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        {% if scheduled %}
                            <a class="btn btn-xs btn-default pull-right" href="{% url 'start_scheduled' %}">Start</a>
                        {% endif %}
                        <i class="icon-tasks"></i> Upcoming...
                    </h2>
                </div>
                {% if scheduled %}
                    <div class="list-group">
                        {% for run in scheduled %}
                            <a class="list-group-item" href="{{ run.get_absolute_url }}">
                                <span class="badge">{{ run.estimated_days|floatformat }}</span>
                                {{ run.title }}
                            </a>
                        {% endfor %}
                    </div>
                    <div class="panel-footer"></div>
                {% else %}
                    <div class="panel-footer">Nothing's in the queue!</div>
                {% endif %}
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <i class="icon-tasks"></i> Waiting...
                    </h2>
                </div>
                {% if waiting %}
                    <div class="list-group">
                        {% for run in waiting %}
                            <a class="list-group-item" href="{{ run.get_absolute_url }}">
                                <span class="badge">{{ run.estimated_days|floatformat }}</span>
                                {{ run.title }}
                            </a>
                        {% endfor %}
                    </div>
                    <div class="panel-footer"></div>
                {% else %}
                    <div class="panel-footer">Nothing's in the queue!</div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <i class="icon-gift"></i> Recent success
                    </h2>
                </div>
                {% if succeed %}
                    <div class="list-group">
                        {% for run in succeed %}
                            <a class="list-group-item" href="{{ run.get_absolute_url }}">
                                <span class="badge" title="{{ run.completed_on }}">
                                    {{ run.completed_on|timesince }}
                                </span>
                                {{ run.title }}
                            </a>
                        {% endfor %}
                    </div>
                    <div class="panel-footer"></div>
                {% else %}
                    <div class="panel-footer">No successful run yet!</div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <i class="icon-ban-circle"></i> Recently failed
                    </h2>
                </div>
                {% if failed %}
                    <div class="list-group">
                        {% for run in failed %}
                            <a class="list-group-item" href="{{ run.get_absolute_url }}">
                                <span class="badge" title="{{ run.completed_on }}">
                                    {{ run.completed_on|timesince }}
                                </span>
                                {{ run.title }}
                            </a>
                        {% endfor %}
                    </div>
                    <div class="panel-footer"></div>
                {% else %}
                    <div class="panel-footer">Hooray! No failed run!</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
