{% extends 'base.html' %}
{% load markup_tags staticfiles %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
    <h1>
        <a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
        <small>{{ object.created_by.get_full_name }}</small>
    </h1>
    {% if object.description %}
        <div class="panel panel-default">
            <div class="panel-body">
                <div>{{ object.description|apply_markup:'markdown' }}</div>
            </div>
        </div>
    {% endif %}
    <div id="calamaris-charts">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#daily-reports" data-toggle="tab">Daily</a></li>
            <li><a href="#monthly-reports" data-toggle="tab">Monthly</a></li>
        </ul>
        <div class="tab-content">
            {% for period in periods %}
                <div class="tab-pane{% if period == 'daily' %} active{% endif %}" id="{{ period }}-reports">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="panel panel-default">
                                <div class="panel-heading">Summary</div>
                                <div class="panel-body">
                                    <div class="tcp-requests"></div>
                                </div>
                                <table class="table table-striped">
                                    <caption></caption>
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Total</th>
                                            <th>Hit</th>
                                            <th>Miss</th>
                                            <th>Hit Ratio</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="bytes">
                                            <th>Bytes</th>
                                            <td class="total"></td>
                                            <td class="hit"></td>
                                            <td class="miss"></td>
                                            <td class="ratio"></td>
                                        </tr>
                                        <tr class="requests">
                                            <th>Requests</th>
                                            <td class="total"></td>
                                            <td class="hit"></td>
                                            <td class="miss"></td>
                                            <td class="ratio"></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Average Object Size</th>
                                            <td colspan="4" class="avg-obj-size"></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">Select a report</div>
                                <div class="panel-body">
                                    <div class="section-reports"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="section-title panel-heading"></div>
                        <div class="panel-body">
                            <div class="section-summary"></div>
                        </div>
                        <div class="panel-footer text-center">
                            <strong>Hint:</strong> Hover over stack bars to view detail in the chart below.
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="section-date panel-heading"></div>
                        <div class="panel-body">
                            <div class="section-detail"></div>
                        </div>
                        <table class="table table-striped section-detail-table">
                            <caption></caption>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Total</th>
                                    <th>%</th>
                                    <th>Hit</th>
                                    <th>Miss</th>
                                    <th>Hit Ratio</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bytes">
                                    <th>Bytes</th>
                                    <td class="total"></td>
                                    <td class="percentage"></td>
                                    <td class="hit"></td>
                                    <td class="miss"></td>
                                    <td class="ratio"></td>
                                </tr>
                                <tr class="requests">
                                    <th>Requests</th>
                                    <td class="total"></td>
                                    <td class="percentage"></td>
                                    <td class="hit"></td>
                                    <td class="miss"></td>
                                    <td class="ratio"></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Average Object Size</th>
                                    <td colspan="5" class="avg-obj-size"></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Trends</div>
                        <div class="section-trend">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        Select a <strong class="section-label-title"></strong>
                                    </div>
                                    <div class="col-sm-4">
                                        <span class="section-labels"></span>
                                    </div>
                                </div>
                                <div class="trend-graph"></div>
                            </div>
                            <table class="table table-striped">
                                <caption></caption>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Total</th>
                                        <th>%</th>
                                        <th>Hit</th>
                                        <th>Miss</th>
                                        <th>Hit Ratio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="bytes">
                                        <th>Bytes</th>
                                        <td class="total"></td>
                                        <td class="percentage"></td>
                                        <td class="hit"></td>
                                        <td class="miss"></td>
                                        <td class="ratio"></td>
                                    </tr>
                                    <tr class="requests">
                                        <th>Requests</th>
                                        <td class="total"></td>
                                        <td class="percentage"></td>
                                        <td class="hit"></td>
                                        <td class="miss"></td>
                                        <td class="ratio"></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Average Object Size</th>
                                        <td colspan="5" class="avg-obj-size"></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block extrajs %}
    <script src="{% static 'js/d3.calamaris.js' %}"></script>
    <script>
        $(function() {
            d3.json("{% url 'calamaris-reports' object.pk %}", function(error, data) {
                if (error) {
                    $('#calamaris-charts').html('An error occured: ' + error.statusText);
                    return;
                }
                if (!data) {
                    $('#calamaris-charts').html('Error! No report found.');
                    return;
                }
                var parseDate = {
                    daily: d3.time.format("%Y-%m-%d").parse,
                    monthly: d3.time.format("%Y-%m").parse
                };
                $.each(data.data, function(p, d) {
                    d.forEach(function(x) { x.date = parseDate[p](x.date); });
                });
                d3.calamaris.render('#daily-reports', data.data.daily, data.sections);
                var monthly_shown = false;
                $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                    if (!monthly_shown) {
                        var elem = d3.select(e.target).attr('href'),
                            period = elem.slice(1, -8);
                        d3.calamaris.render(elem, data.data[period], data.sections);
                        monthly_shown = true;
                    }
                })
            });
        });
    </script>
{% endblock %}
{% block extracss %}
    <style>
        .axis path,
        .axis line {
            fill: none;
            stroke: none;
            shape-rendering: crispEdges;
        }
        .stack text {
            text-anchor: end;
        }
        caption {
            font-size: 110%;
            font-weight: bold;
            background-color: #eef;
            padding: 5px;
            border: 1px solid #ddd;
        }
    </style>
{% endblock %}
