{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            Upload a calamaris report cache bundle
        </div>
        <div class="panel-body">
            {% crispy form %}
        </div>
    </div>
{% endblock %}
