{% extends 'base.html' %}
{% load markup_tags %}
{% block title %}Calamaris Reports{% endblock %}
{% block content %}
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-text">Calamaris Reports</div>
            <div class="navbar-text navbar-right">&nbsp;</div>
            <a href="{% url 'calamaris-create' %}"
                title="Upload new report"
                class="btn btn-danger navbar-btn navbar-right">
                <i class="icon-upload"></i> Upload Report
            </a>
        </div>
    </div>
    <ul class="list-unstyled row">
    {% for report in object_list %}
        <li class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ report.created_on }}
                </div>
                <div class="panel-body">
                    <a href="{{ report.get_absolute_url }}">
                        <h4>{{ report.title }}</h4>
                    </a>
                    {{ report.created_by.get_full_name }}
                    {{ report.description|truncatewords:10|apply_markup:'markdown' }}
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
