.box.box-success.box-solid
    .box-header
        .box-title dhcperf Run
    .box-body
        form.form-horizontal(name="scriptForm")
            .form-group(ng-class="{'has-error': scriptForm.dnsbox.$error.required}")
                label.control-label.col-md-2 DNSbox
                .col-md-7
                    select.form-control(ng-model="script_conf.dnsbox" name="dnsbox" required
                           ng-options="item.id as item.title for item in choices.dnsbox")
                    .text-muted Please select a DNSbox
            .form-group(ng-class="{'has-error': scriptForm.port.$error.required}")
                label.control-label.col-md-2 Port
                .col-md-7
                    input.form-control(name="port" ng-model="script_conf.port" required)
                    .text-muted
                        | Please enter the dhcpd port number.
                        | Note that, it requires to be in [6000, 7000]
            md-button.md-raised.md-primary.col-md-push-2(aria-label="start" ng-click="start(scriptForm)"
                                                         type="submit") Start
