.col-md-8
    .box.box-success.box-solid
        .box-header
            .box-title Web Polygraph Run
        .box-body
            form.form-horizontal(name="scriptForm")
                .form-group
                    label.control-label.col-md-2 Recipe
                    .controls.col-md-7
                        md-radio-group(ng-model="script_conf.recipe"
                                       layout="row" required)
                            md-radio-button(ng-repeat="item in choices.recipe"
                                            ng-value="item.value"
                                            aria-label="{{item.label}}")
                                | {{ item.label }}
                .form-group
                    label.control-label.col-md-2 Polygraph setup
                    .controls.col-md-7
                        select.form-control(ng-model="script_conf.polyrig" required
                               ng-options="item.value as item.label for item in choices.polyrig")
                .form-group
                    label.control-label.col-md-2 Schedule type
                    .controls.col-md-7
                        md-radio-group(ng-model="script_conf.schedule_type" layout="row")
                            md-radio-button(ng-repeat="item in choices.schedule_type"
                                            ng-value="item.value"
                                            aria-label="{{item.label}}")
                                | {{ item.label }}
                .form-group(ng-class="{'has-error': scriptForm.schedule_value.$error.required}")
                    label.control-label.col-md-2 Schedule value
                    .controls.col-md-7
                        .input-group
                            input.form-control(name="schedule_value"
                                               ng-model="script_conf.schedule_value" required)
                            span.input-group-addon RPS
                        .text-muted
                            | Enter [start:[end]] for ramp, [int] for constant, [start:end:stepsize] for steps (RPS)
                .form-group
                    label.control-label.col-md-2 Phase duration
                    .controls.col-md-7
                        .input-group
                            input.form-control(name="duration"
                                               ng-model="script_conf.duration" required)
                            span.input-group-addon minutes
                .form-group
                    label.control-label.col-md-2 Cache size
                    .controls.col-md-7
                        .input-group
                            input.form-control(name="cache_size"
                                               ng-model="script_conf.cache_size" required)
                            span.input-group-addon GB
                .form-group
                    label.control-label.col-md-2 Fill rate
                    .controls.col-md-7
                        .input-group
                            input.form-control(name="fill_rate"
                                               ng-model="script_conf.fill_rate" required)
                            span.input-group-addon RPS
                        .text-muted
                            | Positive integer value for this will include
                            | a fill phase.
                .form-group
                    label.control-label.col-md-2 Partial content
                    .controls.col-md-7
                        .input-group
                            input.form-control(name="ranges"
                                               ng-model="script_conf.ranges" required)
                            span.input-group-addon %
                        .text-muted
                            | Positive integer value for this will generate
                            | HTTP range requests.
                .form-group
                    label.control-label.col-md-2 Repeatable
                    .controls.col-md-7
                        md-radio-group(ng-model="script_conf.repeatable" layout="row")
                            md-radio-button(ng-repeat="item in choices.yes_no"
                                            ng-value="item.value"
                                            aria-label="{{item.label}}")
                                | {{ item.label }}
                .form-group
                    label.control-label.col-md-2 Proxy type
                    .controls.col-md-7
                        select.form-control(ng-model="script_conf.proxy_type" required
                               ng-options="item.value as item.label for item in choices.proxy_type")
                .form-group(ng-show="script_conf.proxy_type !== 'bypass'")
                    label.control-label.col-md-2 Cache initialisation
                    .controls.col-md-7
                        select.form-control(ng-model="script_conf.cache_init" required
                               ng-options="item.value as item.label for item in choices.cache_init")
                .form-group(ng-show="script_conf.proxy_type !== 'bypass' && script_conf.cache_init !== 'non-cachebox'")
                    label.control-label.col-md-2 CACHEbox
                    .controls.col-md-7
                        select.form-control(ng-model="script_conf.cachebox" required
                               ng-options="item.id as item.title for item in choices.cachebox")
                        .text-muted Please select a CACHEbox
                .form-group(ng-show="script_conf.proxy_type !== 'bypass' && script_conf.cache_init !== 'non-cachebox'")
                    label.control-label.col-md-2 Cache engine
                    .controls.col-md-7
                        md-radio-group(ng-model="script_conf.cache_engine" layout="row")
                            md-radio-button(ng-repeat="item in choices.cache_engine"
                                            ng-value="item.value"
                                            aria-label="{{item.label}}")
                                | {{ item.label }}
                .form-group(ng-show="script_conf.proxy_type !== 'bypass'")
                    label.control-label.col-md-2 Test CDN
                    .controls.col-md-7
                        md-radio-group(ng-model="script_conf.test_cdn" layout="row")
                            md-radio-button(ng-repeat="item in choices.yes_no"
                                            ng-value="item.value"
                                            aria-label="{{item.label}}")
                                | {{ item.label }}

                md-button.md-raised.md-primary.col-md-push-2(aria-label="start"
                                                             ng-click="start(scriptForm)"
                                                             type="submit")
                    | Start

.col-md-4
    .box.box-danger.box-solid
        .box-header
            .box-title Caveats
        .list-group
            .list-group-item
                | There are several things to consider
                | when running a polygraph test.<br>
                | Following are some known limitations of a polygraph test:
            .list-group-item
                | To generate a repeatable traffic select <em>Yes</em> for
                | <strong>Repeatable</strong>. Note that, a repeatable traffic
                | requires selecting the same
                | <strong>Recipe, Polyrig, Schedule type, Schedule value, Phase duration</strong>.
                | It is also recommended to run such tests on empty CACHEbox.
            .list-group-item
                | The number of phases generated by scheduler
                | (i.e., Steps, Constant) should not be more than 12.
                | If there is more than 12 phases in a single run,
                | the report generation of the test will fail
                | because of filename length limits.
                | (The report contains HTML pages and
                | the filename of those pages include the phase names)
            .list-group-item
                | A long constant phase run is not possible
                | as polygraph keeps the test stats in memory
                | for the whole phase.
                | This can oom kill the polygraph clients.
            .list-group-item
                | To overcome the previous limitation,
                | a constant phase is actually split into
                | 100 minutes smaller phases.
            .list-group-item
                | When setting the RPS value for the test
                | please have a look at the optimum performance table
                | at home page. The table shows known maximum RPS value
                | for different models of CACHEbox.
            .list-group-item
                | Please keep in mind that Polyrig 2 is not
                | as strong as Polyrig 1 setup.
            .list-group-item
                | Only explicit and bypass proxy works out of the box.
                | For other modes, a network setup might be necessary.
