.panel.panel-primary
    .panel-heading
        h1.panel-title Create a new resource
    .panel-body
        form.form-horizontal(name="newForm")
            .form-group(ng-class="{'has-error': newForm.title.$error.required}")
                label.control-label.col-md-2 Title
                .col-md-7
                    input.form-control(name="title" ng-model="object.title"
                                       required)
            .form-group
                label.control-label.col-md-2 IP Address
                .col-md-7
                    input.form-control(name="ip_address"
                                       ng-model="object.ip_address")
            .form-group
                label.control-label.col-md-2 Type
                .col-md-7
                    md-radio-group(ng-model="object.rtype" layout="row")
                        md-radio-button(value="Polygraph" aria-label="Polygraph")
                            | Polygraph
                        md-radio-button(value="CACHEbox" aria-label="CACHEbox")
                            | CACHEbox
                        md-radio-button(value="DNSbox" aria-label="DNSbox")
                            | DNSbox
            .form-group(ng-class="{'has-error': newForm.description.$error.required}")
                label.control-label.col-md-2 Description
                .col-md-7
                    textarea.form-control(name="description" ng-model="object.description"
                                          required rows="7")
            md-button.md-raised.md-primary.col-md-push-2(type="submit"
                                                         aria-label="submit"
                                                         ng-click="createNew('resources')")
                | Submit
