.panel.panel-primary
    .panel-heading
        .panel-title Create a new test run
    .panel-body
        form.form-horizontal(name="newForm")
            .form-group(ng-class="{'has-error': newForm.title.$error.required}")
                label.control-label.col-md-2 Title
                .col-md-7
                    input.form-control(name="title" ng-model="object.title"
                                       required)
            .form-group
                label.control-label.col-md-2 Script
                .col-md-7
                    md-radio-group(ng-model="object.script" layout="row")
                        md-radio-button(value="polyrun" aria-label="polyrun")
                            | Polyrun
                        md-radio-button(value="dhcperf" aria-label="dhcperf")
                            | dhcperf
                        md-radio-button(value="custom" aria-label="custom")
                            | Custom
            .form-group(ng-class="{'has-error': newForm.description.$error.required}")
                label.control-label.col-md-2 Description
                .col-md-7
                    textarea.form-control(name="description" ng-model="object.description"
                                          required rows="7")
            md-button.md-raised.md-primary.col-md-push-2(type="submit"
                                                         aria-label="submit"
                                                         ng-click="createNew('tests')")
                | Submit
