{% extends "base.html" %}
{% block tittle %}Tags{% endblock %}
{% load jsonify %}
{% load static from staticfiles %}
{% block content %}
    <div class="panel panel-default">
        <div id="tagcloud" class="panel-body"></div>
        <div class="panel-footer text-center">
            Click on a tag to view the related test runs
        </div>
    </div>
{% endblock %}
{% block extrajs %}
    <script src="{% static 'js/d3.wordcloud.js' %}"></script>
    <script>
        $(function() {
            var tags = {{ tag_list|jsonify }};
            tags.forEach(function(d) { d.url = '/tags/' + d.slug; });
            d3.wordcloud(tags, '#tagcloud');
        });
    </script>
{% endblock %}
{% block extracss %}
    <style>
        .node text { cursor: pointer; font-weight: bolder; }
        .num-items { font-size: 14px; fill: #777; }
    </style>
{% endblock %}
