md-toolbar.md-medium-tall(md-theme="indigo")
    .md-toolbar-tools(layout="row" layout-fill layout-padding flex
                      md-theme="light-blue")
        md-text-float(flex label="Search" ng-model="search_list.value")
        md-button.hidden-lg(ng-click="closeSidebar('main-sidebar')"
                            aria-label="close sidebar")
            i.fa.fa-close

tabset(justified="true" type="pills")
    tab(heading="Runs")
        ul.list-group(ng-animate="sidebar")
            li.list-group-item
                select.form-control(ng-model="run_state.selected"
                                    ng-options="item.name for item in run_states")
            li.list-group-item(ng-show="run_state.selected.comparable"
                               layout="row" layout-fill)
                md-button.md-primary.md-raised(md-theme="indigo" aria-label="runSubmit"
                                               ng-click="compareTests('runs')")
                    | Compare
                div(flex)
                md-button.md-raised(md-theme="indigo" aria-label="runSubmit"
                                    ng-click="clearSelection()")
                    | Clear
            li.list-group-item(ng-repeat="run in testruns | filter: search_list.value | filter: {status: run_state.selected.value}"
                               ng-class="'list-runs-'+run.status")
                md-checkbox.run-check(aria-label="run" ng-model="selected.runs[run.id]"
                                      ng-if="run.completed_on")
                a(ui-sref="testrun.detail({runId: run.id})")
                    | {{ run.title }}
                div(ng-show="run.completed_on")
                    | {{ run.completed_on|date:'medium' }}
                div(ng-show="run.status === 'Running'")
                    | {{ run.eta|date:'medium' }}
            li.list-group-item(ng-show="run_state.selected.comparable"
                               layout="row" layout-fill)
                md-button.md-primary.md-raised(md-theme="indigo" aria-label="runSubmit"
                                               ng-click="compareTests('runs')")
                    | Compare
                div(flex)
                md-button.md-raised(md-theme="indigo" aria-label="runSubmit"
                                    ng-click="clearSelection()")
                    | Clear

    tab(heading="Resources")
        ul.list-group(ng-animate="sidebar")
            li.list-group-item
                select.form-control(ng-model="resource_state.selected"
                                    ng-options="item.name for item in resource_states")
            a.list-group-item(ng-repeat="resource in resources | filter: search_list.value | filter: {status: resource_state.selected.value}"
                              ui-sref="resource.detail({resourceId: resource.id})")
                span.badge {{ resource.status }}
                | {{ resource.title }}
                br
                .label.label-default {{ resource.rtype }}
                .label.label-danger {{ resource.ip_address }}

    tab(heading="Tags")
        div(layout="row" flex layout-padding)
            md-button.md-primary.md-raised(md-theme="indigo"
                                           aria-label="tagSubmit"
                                           ng-click="compareTests('tags')")
                | Compare
            div(flex)
            md-button.md-raised(md-theme="indigo" aria-label="runSubmit"
                                ng-click="clearSelection()")
                | Clear
        ul.list-inline(ng-animate="sidebar")
            li(ng-repeat="tag in tags | filter: search_list.value")
                md-checkbox(ng-model="selected.tags[tag.slug]"
                            aria-label="tag")
                    | {{ tag.name }} ({{ tag.num_items }})
        div(layout="row" flex layout-padding)
            md-button.md-primary.md-raised(md-theme="indigo"
                                           aria-label="tagSubmit"
                                           ng-click="compareTests('tags')")
                | Compare
            div(flex)
            md-button.md-raised(md-theme="indigo" aria-label="runSubmit"
                                ng-click="clearSelection()")
                | Clear