md-toolbar(md-theme="red")
    .md-toolbar-tools(layout="row" layout-fill layout-padding flex
                      md-theme="light-blue")
        div Logs
        div(flex)
        md-button(ng-click="closeSidebar('log-sidebar')"
                  aria-label="close sidebar")
            i.fa.fa-close

.box.box-primary.box-solid
    .box-body
        dl.dl-horizontal
            div(ng-repeat="log in status_logs")
                dt {{ log.time|date:'yyyy-MM-dd HH:mm:ss' }}
                dd(ng-class="'text-'+log.level") {{ log.title }}: {{ log.message }}
