md-toolbar
    h1.md-toolbar-tools
        md-button.hidden-lg(ng-click="openSidebar('main-sidebar')" aria-label='Toggle lists')
            md-tooltip Toggle Lists
            i.fa.fa-navicon
        a(ui-sref="main()") Performance
        md-button.md-raised.md-fab(aria-label="running count")
            | {{ running.length }}
            md-tooltip
                | Currently running: {{ running.length }}
                br
                | Scheduled to run: {{ scheduled.length }}
        span(flex)
        md-button(ng-click="showNewDialog()" aria-label='Create New')
            md-tooltip Create New
            i.fa.fa-plus
        md-button(ui-sref="cdnrun.summary()" aria-label='CDN summary')
            md-tooltip CDN
            i.fa.fa-film
        md-button(href="/home/" aria-label='Back')
            md-tooltip Back to original site
            i.fa.fa-fire-extinguisher
        md-button(href="/docs/" aria-label='docs')
            md-tooltip Developer docs
            i.fa.fa-book
        md-button(aria-label='Logout'
                  ng-show="user.username"
                  href="/logout/")
            md-tooltip Logout
            i.fa.fa-sign-out &nbsp;
        .hidden-xs {{ user.full_name }}
        md-button(aria-label='Login'
                  ng-show="!user.username"
                  href="/social_auth/login/google-oauth2/?next=/")
            md-tooltip Login
            i.fa.fa-sign-in
        md-button(ng-click="openSidebar('log-sidebar')" aria-label='Toggle logs')
            md-tooltip Toggle Logs
            i.fa.fa-list
