md-content
    md-list.bg-light-blue.list-progress(layout="row" layout-padding flex)
        md-item.box.box-solid.bg-navy(ng-repeat="run in running" flex)
            md-item-content.box-body
                .md-tile-left
                    md-progress-circular(md-theme="deep-orange" mode="determinate" ng-value="run.percent_complete")
                    md-tooltip
                        strong Started at: &nbsp;
                        span {{ run.start|date:'medium' }}
                        br
                        strong ETA: &nbsp;
                        span {{ run.eta|date:'medium' }}
                .md-tile-content
                    a(ui-sref="testrun.detail({runId: run.id})")
                        div {{ run.title }}
                        md-divider
                        div ETA {{ run.will_complete_on }}
