.panel.panel-success
    .panel-heading
        h2.panel-title.text-center
            | Key performance by <strong>CACHE</strong>BOX model
    md-tabs(md-theme="green" md-selected="selected.index")
        md-tab(ng-repeat="(key, rows) in summary" label="{{key}}")
            table.table.table-bordered.table-striped
                thead
                    tr
                        th Model
                        th Version
                        th Cache engine
                        th RPS
                        th BHR
                        th DHR
                        th Mbps
                tbody
                    tr(ng-repeat="row in rows")
                        td
                            a(ui-sref="testrun.detail({runId:row.run_pk})") {{ row.model }}
                        td {{ row.version }}
                        td {{ row.engine }}
                        td {{ row.RPS }}
                        td {{ row.BHR }}
                        td {{ row.DHR }}
                        td {{ row.Mbps }}
