html, body { height: 100%; }
body {
    padding-top: 52px;
    background-image: url(../img/bg.png);
}
table { background-color: white; }
.main.container { background-color: #eee; padding-top: 10px; min-height: 100%; margin-bottom: -30px; }
.push { height: 30px; }
.footer {
    background-color: black;
    color: #999;
    height: 30px;
}
.footer small { line-height: 30px; }
.counter { font-weight: bold; }
thead { background-color: #428bca; color: white; }
td pre {
    padding: 0;
    border: none;
    background-color: transparent;
    font: inherit;
}
td.progress {
    padding:0;
    border-radius:0;
}
td.progress .bar {
    font-size:100%;
    vertical-align:middle;
}
.progress-meter .background { fill: #ccc; }
.progress-meter text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
}
.current-status .progress-meter text { font-size: 12px; }
form.clone { margin-bottom: 0; }
.log-content {
    width: 550px;
    height: 400px;
    overflow-y: scroll;
    background-color: beige;
    padding: 20px;
}
.dataTables_length { width: 40%; float: left; }
.dataTables_filter label { width: 50%; }
.dataTables_filter input { width: 50%; }
.dataTables_info { width: 60%; float: left; margin-bottom: 20px; }
.dataTables_paginate { float: right; text-align: right; }
.sorting_asc { background-color: #468847; }
.sorting_desc { background-color: #c09853; }
/*.sorting { background: url('../img/sort_both.png') no-repeat center right; }*/
/*.sorting_asc_disabled { background: url('../img/sort_asc_disabled.png') no-repeat center right; }*/
/*.sorting_desc_disabled { background: url('../img/sort_desc_disabled.png') no-repeat center right; }*/
.DTTT-button-group { float: right; }
table.display thead th:active,
table.display thead td:active {
    outline: none;
}
#run-view .params th { width: 40%; font-weight: normal; vertical-align: middle; }
#run-view .params td { font-size: 120%; font-weight: bold; }
.param-key-in { background-color: #5cb85c; color: white; }
.param-key-out { background-color: #d9534f; color: white; }
.param-value { font-size: 150%; font-weight: bold; margin: 10px 0; }
/*ul.list-inline .label { font-size: 100%; padding: 4px 6px; }*/
.script-list li { padding: 2px; }
.calendarbox,.clockbox{margin:5px auto;font-size:11px;width:16em;text-align:center;background:#fff;position:relative;z-index:100;box-shadow:0 0 1px rgba(0,0,0,0.4);-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px}.calendarbox h2,.clockbox h2,.calendarbox caption,.clockbox caption{-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;background-color:#e5e5e5;background-repeat:no-repeat;background-image:-webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e5e5e5));background-image:-webkit-linear-gradient(#f3f3f3, #e5e5e5);background-image:-moz-linear-gradient(#f3f3f3, #e5e5e5);background-image:-o-linear-gradient(top, #f3f3f3, #e5e5e5);background-image:-khtml-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e5e5e5));filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f3f3f3', EndColorStr='#e5e5e5', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#e5e5e5', GradientType=0))";box-shadow:inset 1px 1px 0 #fff;text-shadow:0 1px rgba(255,255,255,0.5);border-bottom:1px solid #ddd;margin:0;padding:3px 15px;font-size:12px;font-weight:bold;text-align:center}
.clockbox{width:auto}
.calendar{margin:0;padding:0}
.calendar table{margin:0;padding:0;border-collapse:collapse;background:#fff;width:100%}
.calendar th{font-size:10px;color:#666;padding:2px 3px;text-align:center;background-color:#e5e5e5;background-repeat:no-repeat;background-image:-webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e5e5e5));background-image:-webkit-linear-gradient(#f3f3f3, #e5e5e5);background-image:-moz-linear-gradient(#f3f3f3, #e5e5e5);background-image:-o-linear-gradient(top, #f3f3f3, #e5e5e5);background-image:-khtml-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e5e5e5));filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f3f3f3', EndColorStr='#e5e5e5', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#e5e5e5', GradientType=0))";border-bottom:1px solid #ddd;text-shadow:0 1px rgba(255,255,255,0.5)}
.calendar td{font-size:11px;text-align:center;padding:0;border-top:1px solid #eee;border-bottom:none}
.calendar td.selected a{background:#c9dbed}
.calendar td.nonday{background:#efefef}
.calendar td.today a{background:#ffa;font-weight:bold}
.calendar td a,.timelist a{display:block;padding:2px 4px;text-decoration:none;color:#444}
.calendar td a:hover,.timelist a:hover{background-color:#5295b0;background-repeat:no-repeat;background-image:-webkit-gradient(linear, left top, left bottom, from(#83b3c3), to(#5295b0));background-image:-webkit-linear-gradient(#83b3c3, #5295b0);background-image:-moz-linear-gradient(#83b3c3, #5295b0);background-image:-o-linear-gradient(top, #83b3c3, #5295b0);background-image:-khtml-gradient(linear, left top, left bottom, from(#83b3c3), to(#5295b0));filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#83b3c3', EndColorStr='#5295b0', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#83b3c3', EndColorStr='#5295b0', GradientType=0))";text-shadow:0 1px #4f7f92;color:#fff}
.calendar td a:active,.timelist a:active{background:#5295b0;color:#fff}
.calendarnav{font-size:10px;text-align:center;color:#ccc;margin:0;padding:1px 3px}
.calendarnav a:link,#calendarnav a:visited,#calendarnav a:hover{color:#999}
.calendar-shortcuts{background:#fff;font-size:11px;line-height:11px;border-top:1px solid #eee;padding:3px 0 4px;color:#ccc}.calendar-shortcuts a{display:inline-block;padding:2px 0}
.calendarbox .calendarnav-previous,.calendarbox .calendarnav-next{display:block;position:absolute;font-weight:bold;font-size:14px;text-decoration:none;padding:3px 8px 4px;background-color:#5295b0;background-repeat:no-repeat;background-image:-webkit-gradient(linear, left top, left bottom, from(#83b3c3), to(#5295b0));background-image:-webkit-linear-gradient(#83b3c3, #5295b0);background-image:-moz-linear-gradient(#83b3c3, #5295b0);background-image:-o-linear-gradient(top, #83b3c3, #5295b0);background-image:-khtml-gradient(linear, left top, left bottom, from(#83b3c3), to(#5295b0));filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#83b3c3', EndColorStr='#5295b0', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#83b3c3', EndColorStr='#5295b0', GradientType=0))";text-shadow:0 1px #4f7f92;color:#fff}
.calendarnav-previous:hover,.calendarnav-next:hover{background:#5295b0}
.calendarnav-previous{top:0;left:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-top-right-radius:0;-moz-border-radius-topright:0;border-top-right-radius:0;-webkit-border-bottom-left-radius:0;-moz-border-radius-bottomleft:0;border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;-moz-border-radius-bottomright:0;border-bottom-right-radius:0}
.calendarnav-next{top:0;right:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-top-left-radius:0;-moz-border-radius-topleft:0;border-top-left-radius:0;-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;-webkit-border-bottom-left-radius:0;-moz-border-radius-bottomleft:0;border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;-moz-border-radius-bottomright:0;border-bottom-right-radius:0}
.calendar-cancel{margin:0 !important;padding:2px 0 !important;font-size:11px;background-color:#e2e2e2;background-repeat:no-repeat;background-image:-webkit-gradient(linear, left top, left bottom, from(#efefef), to(#e2e2e2));background-image:-webkit-linear-gradient(#efefef, #e2e2e2);background-image:-moz-linear-gradient(#efefef, #e2e2e2);background-image:-o-linear-gradient(top, #efefef, #e2e2e2);background-image:-khtml-gradient(linear, left top, left bottom, from(#efefef), to(#e2e2e2));filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#efefef', EndColorStr='#e2e2e2', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#efefef', EndColorStr='#e2e2e2', GradientType=0))";text-shadow:0 1px rgba(255,255,255,0.5);border-top:1px solid #ddd}
.calendar-cancel a{color:#000;display:block}
.suit-date{position:relative}.suit-date .datetimeshortcuts{margin-left:32px;color:#f6f7f8}.suit-date .datetimeshortcuts a:last-child{padding:0 5px;position:absolute;left:100px;z-index:2}.suit-date .datetimeshortcuts a:last-child img{visibility:hidden}
.suit-date input{vertical-align:middle}.suit-date input.vDateField{width:80px}
.suit-date input.vTimeField{width:60px}
.suit-date .add-on{position:absolute;left:94px}
.suit-date.suit-time .add-on{left:74px}
.suit-date.suit-time .datetimeshortcuts a:last-child{position:absolute;left:80px}
ul.current-status > li:nth-child(odd) { background-color: #f1f1f1; }
ul.current-status.list-inline { margin: 5px 0; }
ul.current-status.list-inline > li {
    background-color: inherit;
    margin: 1px;
    width: 178px;
    padding: 10px 5px;
    overflow: hidden;
    white-space: nowrap;
    border: 2px solid #f1f1f1;
}
ul.current-status.list-inline > li > a { text-decoration: none; }
.highlight pre { background: inherit; color: inherit; }
.alert-error {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#f2dede),to(#e7c3c3));
    background-image: -webkit-linear-gradient(top,#f2dede,0%,#e7c3c3,100%);
    background-image: -moz-linear-gradient(top,#f2dede 0,#e7c3c3 100%);
    background-image: linear-gradient(to bottom,#f2dede 0,#e7c3c3 100%);
    background-repeat: repeat-x;
    border-color: #dca7a7;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede',endColorstr='#ffe7c3c3',GradientType=0);
}
.select2-container { width: 90%; }
