html, body {
    height: 100%;
}

[md-component-id$=-sidebar] {
    width: 60%;
}

[md-component-id=main-sidebar] {
    @media all and (min-width: 1200px) {
        width: 25%;
    }
}

.list-runs-Successful {
    border-right: 5px solid #00a65a;
    margin: 2px;
}

.list-runs-Stopped {
    border-right: 5px solid #f39c12;
    margin: 2px;
}

.list-runs-Failed {
    border-right: 5px solid #f56954;
    margin: 2px;
}

.list-runs-Running {
    border-right: 5px solid #3c8dbc;
    margin: 2px;
}

.list-runs-Scheduled {
    border-right: 5px solid #757;
    margin: 2px;
}

.list-runs-Waiting {
    border-right: 5px solid #c1c1c1;
    margin: 2px;
}

.list-progress {
    margin: 0;
    padding: 0;
    flex-wrap: wrap;

    md-item {
        margin: 3px;
        padding: 0 !important;
        min-width: 200px;
    }

    .box {
        padding: 0 !important;
    }

    .box-body {
        padding: 5px;

        a {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: clip;
            display: block;
            color: white;
        }
    }

    md-progress-circular .md-wrapper1 {
        background-color: #ddd;
    }

    .md-tile-content {
        padding: 0 0 0 15px;
    }

    md-divider {
        border-top-color: #379;
    }
}

md-checkbox.run-check {
    display: inline-block;
    margin: 0;
}

[ng-animate=sidebar] .ng-enter {
    -webkit-animation: bounceIn 1s;
    -moz-animation: bounceIn 1s;
    -o-animation: bounceIn 1s;
    animation: bounceIn 1s;
}
[ng-animate=detail].ng-enter {
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

md-content.main-content, .main-view {
    background-color: #eee;
}

.detail.panel {
    margin: 0;
}

.nav-tabs-custom {
    margin: 0;
}

.md-fab {
    i.fa {
        font-size: 150%;
    }
}

.rickshaw_legend {
    background: transparent;
    position: relative;

    ul {
        top: 0;
        right: 0;
        position: absolute;
        color: black;
    }
}
.rickshaw_graph {
    .line {
        stroke-width: 1px;
    }

    .area {
        fill-opacity: 0.7;
    }

    .x_label {
        color: black;
        opacity: .9 !important;
    }

    text {
        fill: black;
    }
}

#rrd-accordion h3 {
    font-size: 16px;
    margin: 5px 0 0;
}

md-dialog .panel {
    margin: 0;
}

.compare-grid {
    th {
        min-width: 100px;
        &.min-width-cell {
            min-width: 180px;
        }
    }
    td {
        padding: 2px 5px !important;
    }
}

.dataTables_filter, .dataTables_info {
    margin: 3px 10px 0 20px;
}

ul#noty_topRight_layout_container {
    top: 50px !important;
}

.run-detail {
    position: relative;
    .run-actions {
        position: absolute;
        top: -15px;
        right: 5px;
    }
}

md-sidenav [label=Search] input {
    width: 100%;
}
/* SVG/d3 */
circle {
    cursor: pointer;
    fill-opacity: 0.8;
}

.axis text {
    font: 10px sans-serif;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#cdn-cache-graph {
    min-height: 300px;
    .axis path,
    .axis line {
        fill: none;
        stroke: none;
        shape-rendering: crispEdges;
    }
    .tick.major line { stroke: #ffc; }
    circle.dot, .cdn text { cursor: pointer; fill-opacity: 0.7; }
    text { stroke-opacity: 0.5; }
}

#progress-ts-y {
    position: absolute;
}

#tooltip {
    width: 350px;
    display: none;
    position: fixed;
}

.box-solid table {
    margin: 0;
}

.highlight pre {
    color: inherit;
    background-color: white;
}

pre.box-body {
    background-color: white;
}

.cdn-detail dd {
    overflow-wrap: break-word;
}
