doctype html
html(ng-app="performance" lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="initial-scale=1, width=device-width")
        meta(name="author" content="Nasimul Haque")
        title Performance
        link(href="app/lib.css" rel="stylesheet")
        link(href="app/app.css" rel="stylesheet")

    body(layout="row" ng-controller="NavbarController")

        md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id="main-sidebar"
                                                    md-is-locked-open="$media('gt-lg')"
                                                    layout="column"
                                                    ng-include="'template/lists.html'"
                                                    ng-controller="ListController")

        md-sidenav.md-sidenav-right.md-whiteframe-z2(md-component-id="log-sidebar"
                                                     layout="column"
                                                     ng-include="'template/logs.html'")

        div(layout="column" layout-fill
            ng-controller="TestRunProgressController")

            div(md-theme="teal" ng-include="'template/navbar.html'")

            md-content.main-content(flex ui-view ng-animate="detail")

            div(md-theme="indigo"
                ng-include="'template/progress.html'")

        script(src="app/lib.js")
        script(src="app/templates.js")
        script(src="app/app.js")