.panel-body
    .row
        .col-sm-8
            .box
                .box-header
                    .box-title Description
                .box-body(btf-markdown="resource.description")
        .col-sm-4
            .box
                .box-body
                    dl.dl-horizontal
                        dt Type
                        dd {{ resource.rtype }}
                        dt IP Address
                        dd {{ resource.ip_address }}
                        dt Status
                        dd {{ resource.status }}
        .col-sm-12
            .box
                .box-header
                    .box-title
                        strong {{ runs.length }} &nbsp;
                        span most recent completed test runs using &nbsp;
                        em {{ resource.title }}
                .box-body
                    md-button.md-primary.md-raised(md-theme="indigo" aria-label="runSubmit"
                                                   ng-click="compareTests()")
                        | Compare selected tests
                    ul.list-group
                        li.list-group-item(ng-repeat="run in runs"
                                           ng-class="'list-runs-'+run.status")
                            md-checkbox.run-check(aria-label="run" ng-model="selectedRuns[run.id]"
                                                  ng-show="run.completed_on")
                            .badge(ng-show="run.completed_on")
                                | {{ run.completed_on|date:'medium' }}
                            .badge(ng-show="run.status === 'Running'")
                                | {{ run.eta|date:'medium' }}
                            a(ui-sref="testrun.detail({runId: run.id})")
                                | {{ run.title }}
