.panel-body
    form.form-horizontal(name='editForm')
        .form-group(ng-class="{'has-error': editForm.title.$error.required}")
            label.control-label.col-md-2 Title
            .col-md-7
                input.form-control(name='title' ng-model="resource.title" required)
            .col-md-3.text-warning(ng-show="editForm.$dirty")
                strong You have unsaved changes
        .form-group(ng-class="{'has-error': editForm.description.$error.required}")
            label.control-label.col-md-2 Description
            .col-md-7
                textarea.form-control(name='description' ng-model="resource.description" rows="7" required)
        .form-group
            label.control-label.col-md-2 IP Adress
            .col-md-7
                input.form-control(ng-model="resource.ip_address")
        .form-group
            label.control-label.col-md-2 Resource Type
            .col-md-7
                input.form-control(ng-model="resource.rtype")
        md-button.md-raised.md-primary.col-md-push-2(type="submit" aria-label="submit" ng-click="saveEdit()") Save
