.detail.panel
    .panel-heading
        h1.panel-title.text-center
            a(ui-sref="resource.detail({resourceId: resource.id})")
                | {{ resource.title }}
    md-tabs(md-selected="selectedTab.index")
        md-tab(label="Detail" md-on-select="setState('detail')")
        md-tab(label="Edit" md-on-select="setState('edit')")

    .main-view(ui-view="")
