<h3>dhcperf output</h3>
<div id="dhcperf-graph"></div>
{% for row in dhcperf %}
<table class="table table-striped table-hover table-bordered">
    <caption>
        <h4>Pool: {{ row.pool.low }} - {{ row.pool.high }}</h4>
    </caption>
    <thead>
        <tr>
            <th>Clients</th>
            <th colspan="11">Runs (QPS)</th>
        </tr>
    </thead>
    <tbody>
        {% for test in row.tests %}
        <tr>
            <td rowspan="2">{{ test.clients }}</td>
            <th>Discover</th>
            {% for drun in test.runs %}
            <td>
                {{ drun.discover.qps }}
                <small class="text-muted">
                    {{ drun.discover.hwm }}
                </small>
            </td>
            {% endfor %}
        </tr>
        <tr>
            <th>Renew</th>
            {% for drun in test.runs %}
            <td>
                {{ drun.renew.qps }}
                <small class="text-muted">
                    {{ drun.renew.hwm }}
                </small>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}
<div id="tooltip">
    <div class="panel panel-default">
        <div id="cdn-id" class="text-center panel-heading">
            <h3 class="panel-title">
                DHCP Lease Type: <span></span>
            </h3>
        </div>
        <table class="table table-striped table-fixed">
            <tr>
                <th>Pool size</th>
                <td id="pool-size"></td>
            </tr>
            <tr>
                <th>No. of clients</th>
                <td id="nclients"></td>
            </tr>
            <tr>
                <th>High water mark</th>
                <td id="dhcp-hwm"></td>
            </tr>
            <tr>
                <th>LPS</th>
                <td id="dhcp-qps"></td>
            </tr>
        </table>
    </div>
</div>
