{% load jsonify %}
{% if polyrun.outputs %}
    <div id="polyrun-output-json" class="hide">{{ polyrun.outputs|jsonify }}</div>
    <div class="panel paenl-default">
        <div class="panel-body">
            <div id="polyrun-output-graph"></div>
        </div>
    </div>
    <h3>Polyrun output</h3>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th rowspan="2" class="text-right">Phase</th>
                <th colspan="2" class="text-center">RPS</th>
                <th colspan="2" class="text-center">BHR</th>
                <th colspan="2" class="text-center">DHR</th>
                <th colspan="2" class="text-center">Mbps</th>
                <th rowspan="2" class="text-right">Errors %</th>
            </tr>
            <tr>
                <th class="text-right">Measured</th>
                <th class="text-right">Offered</th>
                <th class="text-right">Measured</th>
                <th class="text-right">Offered</th>
                <th class="text-right">Measured</th>
                <th class="text-right">Offered</th>
                <th class="text-right">Measured</th>
                <th class="text-right">Offered</th>
            </tr>
        </thead>
        <tbody class="text-right">
            {% for row in polyrun.outputs %}
                <tr class="{% if row.errors > 0.1 %}danger{% elif row.errors > 0.01 %}warning{% endif %}">
                    <td>{{ row.phase }}</td>
                    <td>{{ row.rps.measured }}</td>
                    <td>
                        <small class="text-muted">{{ row.rps.offered }}</small>
                    </td>
                    <td>{{ row.bhr.measured }}</td>
                    <td>
                        <small class="text-muted">{{ row.bhr.offered }}</small>
                    </td>
                    <td>{{ row.dhr.measured }}</td>
                    <td>
                        <small class="text-muted">{{ row.dhr.offered }}</small>
                    </td>
                    <td>{{ row.mbps.measured }}</td>
                    <td>
                        <small class="text-muted">{{ row.mbps.offered }}</small>
                    </td>
                    <td>{{ row.errors }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="btn-group">
        {% for phtml, ptitle in testrun.polyrun_htmls %}
            <a href="{{ phtml }}" class="btn polyrun-html btn-default">{{ ptitle }}</a>
        {% endfor %}
    </div>
{% endif %}
{% if polyrun.inputs %}
    <h3>Polyrun setup</h3>
    <table class="table table-striped table-hover table-bordered">
        {% for k, v in polyrun.inputs %}
            <tr>
                <th>{{ k }}</th>
                <td>{{ v|safe }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

