{% load attachments_tags performance_tags %}
{% if testrun.waiting %}
    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">Scripts</h4></div>
        <div class="panel-body">
            <ul class="list-unstyled script-list">
                {% for s in scripts %}
                    <li>
                        <div class="btn-group btn-group-justified">
                            <a class="btn btn-default" href="{% url 'run_script' testrun.pk s %}">{{ s|title }}</a>
                            <a class="btn btn-primary" href="{% url 'run_script' testrun.pk s %}">
                                <i class="icon-bolt"></i> Run
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <form method="POST" class="text-center">
                {% csrf_token %}
                <input type="hidden" name="action" value="start" />
                <div class="btn-group">
                    <button type="submit" class="btn btn-default">Custom Run</button>
                </div>
            </form>
        </div>
    </div>
{% elif testrun.running %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="progress-meter"></div>
            <div id="progress-ts"></div>
            <dl id="progress-status">
                {% for p in progress %}
                    <dt class="{{ p.title|tag_class }}">{{ p.title }}</dt>
                    <dd class="{{ p.title|tag_class }}">{{ p.message }}</dd>
                {% endfor %}
            </dl>
            <form method="POST" class="text-center">
                {% csrf_token %}
                {% if testrun.script_name == 'custom' %}
                    {{ stop_form }}
                    <button type="submit" name="action" value="stop" class="btn btn-primary">Stop</button>
                {% else %}
                    <button type="submit" name="action" value="reset" class="btn btn-danger">
                        <i class="icon-undo"></i> Reset {{ testrun.script_name }}
                    </button>
                    <button type="submit" name="action" value="stop" class="btn btn-warning">
                        <i class="icon-stop"></i> Stop {{ testrun.script_name }}
                    </button>
                {% endif %}
            </form>
        </div>
    </div>
{% endif %}
<table class="table table-bordered table-striped">
    <tr>
        <th>Status</th>
        <td>
            {% if testrun.scheduled %}
                <a class="btn btn-sm btn-primary pull-right"
                   href="{% url 'start_scheduled' testrun.pk %}">
                    Start
                </a>
            {% endif %}
            {{ testrun.status }}
        </td>
    </tr>
    <tr>
        <th>Created by</th>
        <td>{% firstof testrun.created_by.get_full_name testrun.created_by.username %}</td>
    </tr>
    <tr>
        <th>Created on</th>
        <td>{{ testrun.created_on }}</td>
    </tr>
    <tr>
        <th>Started on</th>
        <td data-run-start="{{ testrun.started_on.isoformat }}">{{ testrun.started_on }}</td>
    </tr>
    <tr>
        <th>Completed on</th>
        <td data-run-end="{{ testrun.completed_on.isoformat }}">{{ testrun.completed_on }}</td>
    </tr>
    <tr>
        <th>ETA</th>
        <td data-run-eta="{{ testrun.eta.isoformat }}">{{ testrun.eta }}</td>
    </tr>
    {% if user.is_authenticated %}
    <tr>
        <td colspan="2">
            <form action="{% url 'clone_run' %}" method="post" class="text-center clone">
                {% csrf_token %}
                <input type="hidden" value="{{ testrun.pk }}" name="run_id">
                {% if not testrun.waiting %}
                    <button type="submit" class="btn btn-inverse" value="reset" name="_submit">
                        <i class="icon-undo"></i> Reset
                    </button>
                {% endif %}
                <button type="submit" class="btn btn-inverse">
                    <i class="icon-copy"></i> Clone
                </button>
                {% if user.is_superuser %}
                    <a href="{% url 'admin:performance_testrun_change' testrun.pk %}" class="btn btn-danger">Admin</a>
                {% endif %}
            </form>
        </td>
    </tr>
    {% endif %}
</table>
<div class="panel panel-default">
    <div class="panel-heading"><h4 class="panel-title">Resources</h4></div>
    <div class="panel-body">
        <ol>
            {% for resource in testrun.resources.all %}
                <li>
                    <i class="{{ resource.status_icon }}"></i>
                    <a href="{{ resource.get_absolute_url }}">{{ resource.title }}</a>
                </li>
            {% endfor %}
        </ol>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading"><h4 class="panel-title">Tags</h4></div>
    <div class="panel-body">
        {% for tag in testrun.tags.all %}
            <a class="btn btn-default" href="{% url 'tags' tag.slug %}">
                <i class="icon-tag"></i>
                {{ tag }}
            </a>
        {% endfor %}
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading"><h4 class="panel-title">Team</h4></div>
    <div class="panel-body">
        <ol>
            {% for member in testrun.team.all %}
                <li>{% firstof member.get_full_name member.username %}</li>
            {% empty %}
                <li>{{ testrun.created_by.get_full_name }}</li>
            {% endfor %}
        </ol>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading"><h4 class="panel-title">Attachments</h4></div>
    <div class="panel-body">
        {% get_attachments_for testrun as "run_attachments" %}
        {% if run_attachments %}
            <ol>
                {% for attachment in run_attachments %}
                    <li>
                    <a href="{{ attachment.attachment_file.url }}">{{ attachment.filename }}</a>
                    </li>
                {% endfor %}
            </ol>
        {% endif %}
    </div>
    <div class="panel-footer">
        <div id="fine-uploader" class="pull-left"></div>
        <div class="clearfix"></div>
    </div>
</div>
