<div class="tab-content">
    {% for run_state in run_by_status %}
        <div id="{{ run_state.grouper }}"
            class="tab-pane{% if forloop.first %} active{% endif %}">
            <table class="table table-bordered table-striped table-hover datatable">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>ETA</th>
                        <th>Started on</th>
                        <th>Completed on</th>
                    </tr>
                </thead>
                <tbody>
                    {% for run in run_state.list %}
                        <tr>
                            <td><a href="{{ run.get_absolute_url }}">{{ run.title }}</a></td>
                            {% if run.eta %}
                                <td>{{ run.eta }}</td>
                            {% else %}
                                <td>{{ run.estimated_days|floatformat }} day{{ run.estimated_days|pluralize }}</td>
                            {% endif %}
                            <td>{{ run.started_on }}</td>
                            <td>{{ run.completed_on }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
</div>
