{% load markup_tags performance_tags %}
<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Description</h3></div>
    <div class="panel-body">{{ testrun.description|apply_markup:'markdown' }}</div>
</div>
<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Report</h3></div>
    <div class="panel-body">{{ testrun.report|apply_markup:'markdown' }}</div>
</div>
<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Key Parameters</h3></div>
    <div class="panel-body">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Control Parameters</h3>
            </div>
            <table class="table table-bordered table-striped params">
                {% for label, value in testrun.inputs.items %}
                    {% if value %}
                    <tr>
                        <th class="text-right">{{ label }}</th>
                        <td>{{ value|param_split_val }}</td>
                    </tr>
                    {% endif %}
                {% empty %}
                    <tr><td>No control parameter defined</td></tr>
                {% endfor %}
            </table>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Output Parameters</h3>
            </div>
            <table class="table table-bordered table-striped params">
                {% for label, value in testrun.outputs.items %}
                    {% if value %}
                    <tr>
                        <th class="text-right">{{ label }}</th>
                        <td>{{ value|param_split_val }}</td>
                    </tr>
                    {% endif %}
                {% empty %}
                    <tr><td>No output parameter defined</td></tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
