<ul class="nav nav-tabs">
    <li {% if not show_edit %}class="active"{% endif %}>
        <a href="#run-view" data-toggle="tab">
            <i class="icon-lightbulb"></i>
            View
        </a>
    </li>
    {% if user.is_authenticated %}
        <li {% if show_edit %}class="active"{% endif %}>
            <a href="#run-edit" data-toggle="tab">
                <i class="icon-edit"></i>
                Edit
            </a>
        </li>
    {% endif %}
    {% if testrun.script_outputs or testrun.script_inputs %}
        <li>
            <a href="#script-view" data-toggle="tab">
                <i class="icon-gift"></i>
                Result
            </a>
        </li>
    {% endif %}
    {% if squid_conf %}
        <li>
            <a href="#squid-conf" data-toggle="tab">
                <i class="icon-file-text-alt"></i>
                squid.conf
            </a>
        </li>
    {% endif %}
    {% if diag_logs %}
        <li>
            <a href="#diag-logs" data-toggle="tab">
                <i class="icon-paper-clip"></i>
                Logs
            </a>
        </li>
    {% endif %}
    {% if testrun.has_rrd %}
        <li>
            <a href="#rrd-graphs" data-toggle="tab">
                <i class="icon-bar-chart"></i>
                RRD Graphs
            </a>
        </li>
    {% endif %}
</ul>
