{% load crispy_forms_tags pygmentify performance_tags %}
<div class="tab-content">
    <div id="run-view" class="row tab-pane{% if not show_edit %} active{% endif %}">
        <div class="col-lg-7">
            {% include 'performance/_run_description.html' %}
        </div>
        <div class="col-lg-5">
            {% include 'performance/_run_sidebar.html' %}
        </div>
    </div>
    <div id="run-edit" class="tab-pane{% if show_edit %} active{% endif %}">
        {% if user.is_authenticated %}
            <div class="panel panel-default">
                {% crispy edit_form %}
            </div>
        {% endif %}
    </div>
    <div id="script-view" class="tab-pane">
        {% script_result testrun %}
    </div>
    <div id="squid-conf" class="tab-pane">
        {% if squid_conf %}
            {% pygment %}
                <pre lang="squidconf">{{ squid_conf }}</pre>
            {% endpygment %}
        {% endif %}
    </div>
    <div id="diag-logs" class="tab-pane">
        {% if diag_logs %}
            {% crispy diag_logs %}
            <table class="table table-bordered table-striped log-view">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>From</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <pre class="log-view"></pre>
        {% endif %}
    </div>
    <div id="rrd-graphs" class="tab-pane">
        {% if testrun.has_rrd %}
            <div class="panel-group" id="rrd-accordion"
                 data-rrd-list-url="{% url 'rrd_files' testrun.pk %}">
            </div>
        {% endif %}
    </div>
</div>
