<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-text">Test runs</div>
        <div class="navbar-text navbar-right">&nbsp;</div>
        <a href="{% url 'run_create' %}" class="btn pull-right btn-danger navbar-btn"><i class="icon-file"></i> Create a test run</a>
        <ul class="nav navbar-nav">
            {% for run_state in run_by_status %}
            <li{% if forloop.first %} class="active"{% endif %}>
                <a href="#{{ run_state.grouper }}" data-toggle="tab">
                    {% if run_state.grouper == 'Successful' %}
                        <i class="icon-ok"></i>
                    {% elif run_state.grouper == 'Failed' %}
                        <i class="icon-ban-circle"></i>
                    {% elif run_state.grouper == 'Running' %}
                        <i class="icon-bolt"></i>
                    {% elif run_state.grouper == 'Waiting' %}
                        <i class="icon-tasks"></i>
                    {% endif %}
                    {{ run_state.grouper|capfirst }}
                    <span class="counter">({{ run_state.list|length }})</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
