{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}Analyse{% endblock %}
{% block content %}
    <h1>Analyse test results</h1>
    <form class="form-horizontal row">
        <div id="div_id_tags" class="form-group">
            <label for="id_tags" class="control-label required-field col-lg-4">
                Select tags
            </label>
            <div class="controls">
                <select multiple="multiple" id="id_tags" name="tags">
                    {% for tag in tags %}
                        <option value="{{ tag.slug }}">{{ tag.name }}</option>
                    {% endfor %}
                </select>
                <button id="update" class="btn btn-primary">Update</button>
            </div>
        </div>
    </form>
    <div id="result"></div>
{% endblock %}
{% block extrajs %}
    <script>
        $(function() {
            $('#update').hide();
            $('#id_tags').on('change', function(e) {
                var result = d3.select('#result');
                result.selectAll('div').remove();
                d3.selectAll('.fixedHeader').remove();

                if (e.val.length == 0) { return; }

                var url = '{% url "runs_analyse" %}?tags=' + e.val.join();
                d3.json(url, function(error, data) {
                    if (error !== null) { return; }

                    var to_date = d3.time.format("%Y-%m-%d");
                    var dstr = d3.time.format('%d %b %Y');
                    var params = d3.set();
                    data.forEach(function(d) {
                        d3.keys(d.inputs).forEach(function(e) { params.add(e);});
                        d3.keys(d.outputs).forEach(function(e) { params.add(e);});
                        d.parameters = $.extend({}, d.inputs, d.outputs);
                    });

                    var headers = ['title', 'started_on', 'completed_on'].concat(params.values());
                    data.forEach(function(d) {
                        d.data = [];
                        headers.forEach(function(e, i) {
                            if (i > 2) {
                                d.data.push(d.parameters[e]);
                            } else if (i > 0) {
                                var dd = to_date.parse(d[e].split('T')[0]);
                                d.data.push(dstr(dd));
                            } else {
                                d.data.push(d[e]);
                            }
                        });
                    });

                    var table = result.append('table')
                        .attr('class', 'table table-bordered table-striped table-hover'),
                        thead = table.append('thead').append('tr'),
                        tbody = table.append('tbody');

                    headers[0] = 'Title';
                    headers[1] = 'Started on';
                    headers[2] = 'Completed on';
                    thead.selectAll('th').data(headers)
                        .enter().append('th').text(function(d) { return d; });

                    var trs = tbody.selectAll('tr').data(data)
                        .enter().append('tr');
                    trs.selectAll('td').data(function(d) { return d.data; })
                        .enter().append('td')
                        .text(function(d) { return d; });
                    trs.select('td').text('')
                        .append('a')
                        .attr('href', function(d) { return '{% url "runs" %}' + d.id; })
                        .text(function(d) { return d.title; });

                    var data_table = $('table').dataTable({
                        bPaginate: false,
                        sDom: 'Tfti',
                        aaSorting: [],
                        oTableTools: {
                            sSwfPath: '{% static "swf/copy_csv_xls_pdf.swf" %}',
                            aButtons: ['print', 'csv', 'xls', 'pdf']
                        }
                    });
                    new FixedHeader(data_table, {offsetTop: 40});
                });
            });
        });
    </script>
{% endblock %}
{% block extracss %}
    <style>
        .select2-container { width: 50%; }
    </style>
{% endblock %}
