{% load markup_tags performance_tags %}
<html>
    <head>
        <style>
            .clearfix { content: " "; display: table; }
        </style>
    </head>
    <body>
        <h1>Performance digest for ({{ from }} - {{ to }})</h1>
        {% for status, runs in tests.items %}
            <h2>{{ status|title }} tests</h2>
            <dl>
                {% for run in runs %}
                    <dt>
                        <h3>
                            <a href="http://performance.coventry{{ run.get_absolute_url }}">
                                {{ run.title }}
                            </a>
                        </h3>
                    </dt>
                    <dd>
                        <p>{{ run.description|apply_markup:'markdown' }}</p>
                        <p>{{ run.report|apply_markup:'markdown' }}</p>
                        <ul>
                            {% for k, v in run.outputs.items %}
                                <li>
                                    <strong>{{ k }}</strong>: {{ v }}
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="clearfix">&nbsp;</div>
                    </dd>
                {% empty %}
                    No {{ status }} tests found.
                {% endfor %}
            </dl>
        {% endfor %}
    </body>
</html>
