<div class="col-xs-4 text-right"><strong>Name</strong></div>
<div class="col-xs-6"><strong>Value</strong></div>
{% for label, value in fields.items %}
    {% if label %}
        <div class="form-group">
            <label class="control-label col-xs-4">{{ label }}</label>
            <div class="col-xs-6">
                <input type="hidden"
                    name="label_{{ name }}_{{ forloop.counter0 }}"
                    value="{{ label }}">
                <input type="text" class="form-control"
                    name="{{ name }}_{{ forloop.counter0 }}"
                    value="{{ value }}">
            </div>
        </div>
    {% endif %}
{% endfor %}
<div class="params-add-row-wrap" data-name="{{ name }}"></div>
<button type="button" class="btn btn-info params-add-row">
    <i class="icon-plus"></i> Add param key/value pair
</button>
