{% extends "base.html" %}
{% block title %}{{ report_title }}{% endblock %}
{% block content %}
    <h1><a href="{{ run.get_absolute_url }}">{{ run.title }}</a></h1>
    {{ content|safe }}
{% endblock %}
