{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Create a resource{% endblock %}
{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title">Create a new resource</h1>
        </div>
        {% crispy form %}
    </div>
{% endblock %}
{% block extrajs %}
    <script>
        $(function() {
            $('input#id_rtype').removeClass('form-control')
                .select2({tags:{{ types|safe }},
                          maximumSelectionSize:1,
                          width:'90%'})
        });
    </script>
{% endblock %}
