{% extends "base.html" %}
{% block title %}List of resources{% endblock %}
{% block content %}
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-text">Resources</div>
            <div class="navbar-text navbar-right">&nbsp;</div>
            <a href="{% url 'resource_create' %}" class="btn navbar-btn pull-right btn-danger"><i class="icon-file"></i> Create a resource</a>
        </div>
    </div>
    <table class="table table-bordered table-striped table-hover datatable">
        <thead>
            <tr>
                <th>Resource</th>
                <th>IP Address</th>
                <th>Type</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for resource in resource_list %}
                <tr {% if resource.unavailable %}class="error"{% elif resource.in_use %}class="info"{% endif %}>
                    <td><a href="{{ resource.get_absolute_url }}">{{ resource.title }}</a></td>
                    <td>{{ resource.ip_address }}</td>
                    <td>{{ resource.rtype }}</td>
                    <td>
                        <i class="{{ resource.status_icon }}"></i>
                        {{ resource.status|capfirst }}
                        <small class="text-muted" id="resource-status-{{ resource.pk }}">checking...</small>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
