{% extends "base.html" %}
{% load markup_tags crispy_forms_tags %}
{% block title %}Resource: {{ resource.title }}{% endblock %}
{% block content %}
    <h1>
        <a href="{{ resource.get_absolute_url }}">{{ resource.title }}</a>
    </h1>
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li {% if not show_edit %}class="active"{% endif %}>
                <a href="#res-view" data-toggle="tab"><i class="icon-lightbulb"></i> View</a>
            </li>
            <li {% if show_edit %}class="active"{% endif %}>
                <a href="#res-edit" data-toggle="tab"><i class="icon-edit"></i> Edit</a>
            </li>
            <li>
                {% if user.is_superuser %}
                    <a href="{% url 'admin:performance_resource_change' resource.pk %}">Admin</a>
                {% endif %}
            </li>
        </ul>
        <div class="tab-content">
            <div id="res-view" class="tab-pane{% if not show_edit %} active{% endif %}">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">Description</div>
                            <div class="panel-body">{{ resource.description|apply_markup:'markdown' }}</div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>IP Address</th>
                                <td>{{ resource.ip_address }}</td>
                            </tr>
                            <tr>
                                <th>Type</th>
                                <td>{{ resource.rtype }}</td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td>
                                    {{ resource.status }}
                                    <small class="text-muted" id="resource-status-{{ resource.pk }}">checking...</small>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                {% with run_list=resource.testrun_set.all %}
                    {% regroup run_list by status as run_by_status %}
                    {% include "performance/_run_nav.html" %}
                    {% include "performance/_run_tables.html" %}
                {% endwith %}
            </div>
            <div id="res-edit" class="tab-pane{% if show_edit %} active{% endif %}">
                <div class="row">
                    <div class="col-lg-12">
                        {% if user.is_authenticated %}
                            <div class="panel panel-default">
                                {% crispy edit_form %}
                            </div>
                        {% else %}
                            <p>Please <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">login </a>to edit.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extrajs %}
    <script>
        $(function() {
            $('input#id_rtype').removeClass('form-control')
                .select2({tags:{{ types|safe }},
                          maximumSelectionSize:1,
                          width:'90%'})
        });
    </script>
{% endblock %}
