{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Run script{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12 visible-sm visible-xs">
            {% if form.limitation %}
                {% include form.limitation %}
            {% endif %}
        </div>
        <div class="col-sm-12 col-md-7">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        <a href="{% url 'run' view.kwargs.pk %}"
                           class="btn btn-xs btn-default pull-right">
                            <i class="icon-backward"></i> Back
                        </a>
                        Enter {{ view.kwargs.scr }} arguments
                    </h1>
                </div>
                <div class="panel-body">
                    {% crispy form %}
                </div>
            </div>
        </div>
        <div class="col-md-5 hidden-sm hidden-xs">
            {% if form.limitation %}
                {% include form.limitation %}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block extrajs %}
    {{ form.media }}
{% endblock %}
