{% extends "base.html" %}
{% load static from staticfiles %}
{% load compress %}
{% block title %}Test run: {{ testrun.title }}{% endblock %}
{% block content %}
    <h1><a href="{{ testrun.get_absolute_url }}">{{ testrun.title }}</a></h1>
    <div class="tabbable">
        {% include 'performance/_run_tab_nav.html' %}
        {% include 'performance/_run_tab_content.html' %}
    </div>
{% endblock %}
{% block extrajs %}
    {% url 'add_attachment' 'performance' 'testrun' testrun.pk as upload_url %}
    {% compress js %}
        <script src="{% static 'js/jquery.fineuploader-3.4.1.min.js' %}"></script>
        <script src="{% static 'js/log.js' %}"></script>
        <script src="{% static 'js/rickshaw.min.js' %}"></script>
        <script src="{% static 'js/rrdFile.js' %}"></script>
        <script src="{% static 'js/binaryXHR.js' %}"></script>
        <script src="{% static 'js/d3rrd.js' %}"></script>
    {% endcompress %}
    {{ edit_form.media }}
    <script>
        $(function() {
            $('#id_resources, #id_team, #id_tags')
                .removeClass('form-control')
                .siblings('.help-block').remove();
            $('#id_tags').select2({tags:[]});
            fineUploader('#fine-uploader', "{{ upload_url }}");
            var start = $('[data-run-start]').data('run-start'),
                eta = $('[data-run-eta]').data('run-eta'),
                svgsize = $('#progress-meter').width();
            var meter = d3.pchart.meter('#progress-meter', start, eta, svgsize);
            if (meter) {
                setInterval(function() {
                    meter.update();
                }, 10000);
            }

            $(window).on('focus', function() {
                d3.text("{% url 'run-state' testrun.pk %}", function(data) {
                    var current_state = '{{ testrun.state }}';
                    if (current_state !== data) {
                        noty({text: 'TestRun state has changed. Refreshing...'});
                        location.reload();
                    }
                });
            });

            socket.on('status', function(stat) {
                if (stat.run_pk == {{ testrun.pk }}) {
                    if (stat.script === 'polyrun') {
                        var pid = stat.title.replace(/ /g, '-').toLowerCase();
                        if ($('dd.' + pid).text() === stat.message) {
                            $('dd.' + pid).css('color', 'red');
                        } else {
                            $('dd.' + pid).css('color', 'black');
                        }
                        var dl = d3.select('#progress-status');
                        var dt = dl.selectAll('dt.'+pid).data([0])
                            .text(stat.title);
                        dt.enter().append('dt').attr('class', pid)
                            .text(stat.title);
                        var dd = dl.selectAll('dd.'+pid).data([0])
                            .text(stat.message);
                        dd.enter().append('dd').attr('class', pid)
                            .text(stat.message);
                    }
                    else if (stat.script === 'dhcperf') {
                        var prog = d3.select('#progress-ts');
                        prog.selectAll('h3, h4, ul').remove();
                        if (!stat.data.low)
                            return;
                        var pool = 'Pool: ' + stat.data.low + ' - ' + stat.data.high;
                        prog.append('h3').text(pool);
                        prog.append('h4').text(stat.clients);
                        var ul = prog.append('ul');
                        var li = ul.append('li');
                        li.append('strong').text('Discover:');
                        li.append('span').text(stat.result.discover.qps);
                        var li = ul.append('li');
                        li.append('strong').text('Renew:');
                        li.append('span').text(stat.result.renew.qps);
                    }
                }
            });

            var update_progress = function() {
                var colors = d3.scale.category10();
                d3.json("{% url 'run-progress' testrun.pk %}", function(data) {
                    var $ts = d3.select('#progress-ts');
                    if ($ts.empty() || !data || data.length === 0)
                        return;

                    d3.selectAll('#progress-ts > div').remove();
                    $ts.append('div').attr('id', 'progress-ts-y');
                    $ts.append('div').attr('id', 'progress-ts-graph');
                    $ts.append('div').attr('id', 'progress-ts-x');
                    var graph = new Rickshaw.Graph({
                        element: document.querySelector('#progress-ts-graph'),
                        width: $('#progress-ts').width(),
                        renderer: 'line',
                        series: (function() {
                            var series = [];
                            for (var i=0; i<data.length; i++) {
                                var ts = [];
                                for (var j=0; j<data[i].data.length; j++) {
                                    var row = data[i].data[j];
                                    ts.push({x: row.elapsed,
                                             y: row.total_replies,
                                             phase: row.phase,
                                             reply_rate: row.reply_rate,
                                             resp_time: row.resp_time,
                                             hit_ratio: row.hit_ratio,
                                             txn_error: row.txn_error,
                                             sockets: row.sockets});
                                }
                                series.push({name: data[i].polygraph,
                                             data: ts,
                                             color: colors(i)});
                                $('dt.' + data[i].polygraph.replace(/ /g, '-').toLowerCase())
                                    .css('color', colors(i));
                            }
                            return series;
                        })()
                    });
                    var x_axis = new Rickshaw.Graph.Axis.X({
                        graph: graph,
                        orientation: 'bottom',
                        element: document.querySelector('#progress-ts-x')
                    });
                    var y_axis = new Rickshaw.Graph.Axis.Y({
                        graph: graph,
                        orientation: 'right',
                        tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
                        element: document.querySelector('#progress-ts-y')
                    });

                    graph.render();
                    var hoverDetail = new Rickshaw.Graph.HoverDetail({
                            graph: graph,
                            formatter: function(series, x, y, formattedX, formattedY, d) {
                                return series.name + '<br>' +
                                    'Phase: <strong>' + d.value.phase + '</strong><br>' +
                                    'Total replies: <strong>' + formattedY + '</strong><br>' +
                                    'Reply rate: <strong>' + d.value.reply_rate + '</strong><br>' +
                                    'Response time: <strong>' + d.value.resp_time + '</strong><br>' +
                                    'Hit ratio: <strong>' + d.value.hit_ratio + '</strong><br>' +
                                    'Transaction error: <strong>' + d.value.txn_error + '</strong><br>' +
                                    'Open sockets: <strong>' + d.value.sockets + '</strong>';
                            },
                            xFormatter: Rickshaw.Fixtures.Number.formatKMBT,
                            yFormatter: Rickshaw.Fixtures.Number.formatKMBT
                    });
                });
            };

            update_progress();
            var progress_timer = setInterval(update_progress, 50000);

            $('#id_files').on('change', function(e) {
                var url = '{% url "diag_log" testrun.pk %}?logfile=' + e.val;
                d3.json(url, function(error, data) {
                    if (error !== null) {
                        notify({text: 'Could not get log data', type: 'error'});
                        return;
                    }
                    if (data.logtype === 'text') {
                        $('table.log-view').hide();
                        $('pre.log-view').show().html(data.content);
                    } else {
                        var log = data.content.split(/\n/);
                        $('pre.log-view').hide();
                        $('table.log-view').show().find('tbody').html(Log[data.logtype](log));
                        if (data.logtype === 'KeyValue') {
                            $('table.log-view thead').hide();
                        } else {
                            $('table.log-view thead').show();
                        }
                    }
                });
            });

            var $dhcperf = d3.select('#dhcperf-graph');
            if (!$dhcperf.empty()) {
                d3.json("{% url 'dhcp-lps' testrun.pk %}", function(error, data) {
                    if (error || !data || data.length === 0) {
                        console.log(error);
                        return;
                    }
                    var max_r = d3.max(data.map(function(d) {
                        return d3.max([d.discover.hwm, d.renew.hwm]);
                    }));
                    var nclients = d3.set(data.map(function(d) {
                        return d3.max([d.clients, d.pool]);
                    })).values();
                    var width = $('#run-view').width() - 50,
                        height = 400,
                        radius = width / (2 * nclients.length) - 10,
                        xScale = d3.scale.ordinal().rangeBands([radius, width]).domain(nclients),
                        yScale = d3.scale.ordinal().rangeBands([height, radius]).domain(nclients),
                        rScale = d3.scale.linear().range([0, radius]).domain([-1, max_r]),
                        colors = d3.scale.category20(),
                        xAxis = d3.svg.axis().scale(xScale).orient('bottom'),
                        yAxis = d3.svg.axis().scale(yScale).orient('right'),

                        svg = $dhcperf.append('svg').attr({
                            width: width,
                            height: height + 50
                        })
                        .append('g')
                            .attr('transform', 'translate(0,0)');

                    console.log(width, nclients, width
                                / nclients.length);

                    svg.append('rect').attr({
                        width: width,
                        height: height + 50,
                        fill: '#f9f9f9'
                    });

                    var draw_circle = function(color, type, value) {
                        var offset = type === 'renew' ? radius : 0;
                        svg.append('g').selectAll('circle')
                        .data(data).enter()
                        .append('circle')
                        .attr({
                            class: type,
                            cx: 0,
                            cy: 0,
                            r: function(d) {
                                return rScale(d[type][value]);
                            },
                            fill: color,
                            transform: function(d) {
                                return 'translate(' + (xScale(d.pool) + offset) + ',' + yScale(d.clients) + ')';
                            }
                        });
                    };

                    draw_circle(colors(1), 'discover', 'hwm');
                    draw_circle(colors(2), 'discover', 'qps');
                    draw_circle(colors(3), 'renew', 'hwm');
                    draw_circle(colors(4), 'renew', 'qps');

                    svg.append('g')
                        .attr('class', 'x axis')
                        .attr('transform', 'translate(-' + radius + ',' + (height - 20) + ')')
                        .call(xAxis);
                    svg.append('g')
                        .attr('class', 'y axis')
                        .attr('transform', 'translate(0,-20)')
                        .call(yAxis);

                    svg.append('text')
                        .text('Pool size')
                        .attr('transform', 'translate(' + (width / 2) + ',' + (height + 20) + ')');
                    svg.append('text')
                        .text('No. of clients')
                        .attr('transform', 'translate(10,15)');
                    svg.append('text')
                        .text('Maximum LPS')
                        .attr('text-anchor', 'middle')
                        .attr('transform', 'translate(' + (width / 2) + ',20)');
                    svg.append('text')
                        .text('(Pool size vs. No. of clients)')
                        .attr('text-anchor', 'middle')
                        .attr('transform', 'translate(' + (width / 2) + ',40)');

                    svg.selectAll('circle')
                        .on('mouseover', function() {
                            var $elem = d3.select(this),
                                data = $elem.data()[0],
                                type = $elem.attr('class');

                            $('#tooltip .panel-title span').html(type.toUpperCase());
                            $('#dhcp-hwm').html(data[type].hwm);
                            $('#dhcp-qps').html(data[type].qps);
                            $('#pool-size').html(data.pool);
                            $('#nclients').html(data.clients);
                            var $tooltip = $('#tooltip'),
                                tw = $tooltip.width(), th = $tooltip.height(),
                                cx = d3.event.clientX, cy = d3.event.clientY,
                                wx = $(window).width(), wy = $(window).height();
                            var xpos = 0, ypos = 0;

                            if (wx - cx < tw) { xpos = tw + 10; }
                            if (wy - cy < th) { ypos = th + 10; }

                            $tooltip
                                .css('left', cx - xpos)
                                .css('top', cy - ypos)
                                .show();
                        });

                    svg.selectAll('circle')
                        .on('mouseout', function() {
                            $('#tooltip').hide();
                        });
                });
            }

            var $polyrun_output = $('#polyrun-output-json');
            if ($polyrun_output.length == 1) {
                try {
                    var data = JSON.parse($polyrun_output.text());
                    data = data.filter(function(d) {
                        return d.phase.match(/^[cs]\d+$/);
                    });
                    if (data.length > 1) {
                        var colors = d3.scale.category10(),
                            height = 200,
                            scales = {
                                'rps': d3.scale.linear().range([0, height]),
                                'mbps': d3.scale.linear().range([0, height]),
                                'bhr': d3.scale.linear().domain([0, 100])
                                         .range([0, height]),
                                'dhr': d3.scale.linear().domain([0, 100])
                                         .range([0, height])
                            };
                        var series = ['rps', 'bhr', 'dhr', 'mbps'].map(function(f) {
                            var values = data.map(function(d, i) {
                                return {x: i, y: d[f].measured};
                            });

                            if (['rps', 'mbps'].indexOf(f) !== -1) {
                                var domain = d3.max(values.map(function(d) { return d.y; }));
                                scales[f].domain([0, domain]);
                            }
                            return {
                                name: f,
                                data: values,
                                color: colors(f),
                                scale: scales[f]
                            };
                        });
                        var lines = series.map(function(d) { return $.extend({renderer: 'line'}, d); });
                        var dots = series.map(function(d) { return $.extend({renderer: 'scatterplot'}, d); });
                        var $graph = document.querySelector('#polyrun-output-graph');
                        var graph = new Rickshaw.Graph({
                            element: $graph,
                            width: $('.container').width() - 50,
                            height: height,
                            stroke: true,
                            renderer: 'multi',
                            series: lines.concat(dots)
                        });
                        graph.render();
                        var legend = new Rickshaw.Graph.Legend({
                            graph: graph,
                            element: $graph
                        });
                        var shelving = new Rickshaw.Graph.Behavior.Series.Toggle({
                            graph: graph,
                            legend: legend
                        });
                        var hoverDetail = new Rickshaw.Graph.HoverDetail({
                            xFormatter: function(i) { return data[i].phase; },
                            graph: graph
                        });
                    }
                } catch (e) {
                    console.log(e);
                }
            }
        });
    </script>
{% endblock %}
{% block extracss %}
    {% compress css %}
        <link href="{% static 'css/fineuploader-3.4.1.css' %}" rel="stylesheet">
        <link href="{% static 'css/rickshaw.css' %}" rel="stylesheet">
    {% endcompress %}
    <style>
        .qq-upload-list { text-align: left; }
        li.alert-success { background-color: #DFF0D8; }
        li.alert-error { background-color: #F2DEDE; }
        .alert-error .qq-upload-failed-text { display: inline; }
        .rickshaw_graph .line { stroke-width: 1px; }
        .rickshaw_graph .area { fill-opacity: 0.7; }
        #rrd-accordion h3 { font-size: 16px; margin: 5px 0 0; }
        #progress-ts-y { position: absolute; }
        #progress-status > dd { margin-left: 10px; }
        circle { cursor: pointer; fill-opacity: 0.8; }
        .axis text { font: 10px sans-serif; }
        .axis path, .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }
        #tooltip {
            width: 400px;
            display: none;
            position: fixed;
        }
    </style>
{% endblock %}
