{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Create a test run{% endblock %}
{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title">Create a test run</h1>
        </div>
        {% crispy form %}
    </div>
{% endblock %}
{% block extrajs %}
    {{ form.media }}
    <script>
        $(function() {
            $('#id_resources, #id_team, #id_tags')
                .removeClass('form-control')
                .siblings('.help-block').remove();
            $('#id_tags').select2({tags:[]});
        });
    </script>
{% endblock %}
