md-dialog(aria-label="confirm action")
    md-content
        h3 Are you sure you want to reset this test run?
        h4.text-warning Warning
        ul
            li(ng-show="is_running")
                strong.text-danger Stop will
                span &nbsp; stop the test and attempt to generate output so far.
            li
                strong.text-danger Reset will
                span(ng-show="is_running") &nbsp; stop the test,
                span &nbsp; mark it waiting to run again and clear all output.

        .md-actions
            md-button.md-raised.md-primary(md-theme="red"
                                           aria-label="reset"
                                           ng-click="select('reset')")
                | Reset
            md-button.md-raised.md-primary(ng-show="is_running"
                                           md-theme="orange"
                                           aria-label="stop"
                                           ng-click="select('stop')")
                | Stop
            md-button.md-raised.md-primary(aria-label="cancel"
                                           ng-click="cancel()")
                | Cancel
