md-dialog(aria-label="cdn response detail")
    md-content.cdn-detail
            dl.dl-horizontal
                dt URL
                dd {{ response.url }}
                dt Transform
                dd {{ response.rewritten_url || 'NA' }}
                dt Method
                dd {{ response.method }}
                dt Status code
                dd {{ response.status }}
                dt Content type
                dd {{ response.content_type }}
                dt Cache status
                dd {{ response.cache_status }}
            hr
            h3 Query string params
            dl.dl-horizontal
                div(ng-repeat="qs in response.query_string")
                    dt {{ qs.name }}
                    dd {{ qs.value }}
            hr
            h3 Request headers
            dl.dl-horizontal
                div(ng-repeat="header in response.request_headers")
                    dt {{ header.name }}
                    dd {{ header.value }}
            hr
            h3 Response headers
            dl.dl-horizontal
                div(ng-repeat="header in response.response_headers")
                    dt {{ header.name }}
                    dd {{ header.value }}

