md-dialog(aria-label="Create New" md-theme="indigo")
    div(layout="column" layout-margin layout-padding layout-align="center center")
        h3 Create New
        div(layout="row" layout-padding layout-margin layout-align="center center")
            md-button.md-raised.md-primary(aria-label="New TestRun" ng-click="newTestRun()")
                | Test Run
            div(flex)
            md-button.md-raised.md-primary(aria-label="New Resource" ng-click="newResource()")
                | Resource
