md-dialog(aria-label="polyrun report")
    .panel.panel-primary
        .panel-heading
            .panel-title Polygraph Report
        iframe(width="{{ frame.width }}" height="{{ frame.height }}"
               src="{{ frame.url }}" frameborder="0")

