md-dialog(aria-label="Select script" md-theme="indigo")
    div(layout="column" layout-padding layout-align="center center")
        h3 Select script
        div(layout="row" layout-padding layout-margin layout-align="center center")
            md-button.md-raised.md-primary(aria-label="polyrun" ng-click="select('polyrun')")
                | polyrun
            div(flex)
            md-button.md-raised.md-primary(aria-label="dhcperf" ng-click="select('dhcperf')")
                | dhcperf
            div(flex)
            md-button.md-raised.md-primary(aria-label="custom" ng-click="select('custom')")
                | custom
            div(flex)
            md-button.md-raised.md-warn(aria-label="cancel" ng-click="cancel()")
                | cancel
