.panel.panel-primary.cdn-detail
    .panel-heading
        h1.panel-title {{ cdnrun.cdn }} detail
    table.table.table-bordered.table-striped
        tr
            th.text-center(colspan="2")
                a(ng-href="{{ cdnrun.meta_data.page_url }}" target="_blank")
                    | {{ cdnrun.meta_data.title }}
        tr
            th Product
            td {{ cdnrun.meta_data.cachebox }}
        tr
            th Browser
            td {{ cdnrun.meta_data.browser }}
        tr
            th Cached
            td {{ cdnrun.meta_data.cached_size|byteFmt:2 }} / {{ cdnrun.meta_data.total_size|byteFmt:2 }}
        tr
            th Checked at
            td {{ cdnrun.meta_data.checked_at|date:'medium' }}
    .panel-body
        .box(ng-repeat="row in cdnrun.data"
                       ng-class="response_class(row.cache_status)")
            .box-header
                .box-title {{ row.method }} {{ row.status }} {{ row.content_type }}
            .box-body
                dl.dl-horizontal
                    dt URL
                    dd {{ row.url }}
                    dt Transform
                    dd {{ row.rewritten_url || 'NA'}}
                    dt Size
                    dd {{ row.size|byteFmt:2 }}
                    dt Cache status
                    dd {{ row.cache_status }}
            .box-footer
                md-button.md-raised.md-primary(ng-click="showDetail(row)"
                                               aria-label="show detail")
                    | Show detail
