.panel.panel-info
    .panel-heading
        h1.panel-title.text-center CDN Caching Status
    .panel-body
        div(id="cdn-cache-graph")
    .text-center.panel-footer
        strong Hint:
        | Click the dots to view the run detail.
        br
        | Click on the cdn names to go to diff view of the cdn runs.

#tooltip
    .panel.panel-warning
        .text-center.panel-heading
            h3.panel-title#cdn-id
                span
                small
        table.table.table-fixed
            tr
                td#vtitle.text-center(colspan="2") Video title
            tr
                th Cached
                td#cached
            tr
                th Browser
                td#browser
        .text-center.panel-footer#cachebox CACHEbox
