<ul class="pager">
    {% if page_obj.has_previous %}
        <li class="previous">
            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">
                &larr; Newer
            </a>
        </li>
    {% else %}
        <li class="previous disabled"><a href="#">&larr; Newer</a></li>
    {% endif %}
    {% if page_obj.has_next %}
        <li class="next">
            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">
                Older &rarr;
            </a>
        </li>
    {% else %}
        <li class="next disabled"><a href="#">Older &rarr;</a></li>
    {% endif %}
</ul>

