{% extends 'base.html' %}
{% block content %}
    <h1>
        <a href="{% url 'cdnrun-cdn-diff' view.kwargs.cdn %}">
            {{ view.kwargs.cdn }} changes
        </a>
    </h1>
    {% include 'cdnrun/_diff_pager.html' %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Params</th>
                {% for run in object_list %}
                    <th>
                        <a href="{{ run.get_absolute_url }}">
                            {{ run.meta_data.title }}
                        </a>
                        <br>
                        {{ run.run_at }}
                        <br>Cached: {{ run.cache_percent }}%
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in params %}
                <tr>
                    {% for col in row %}
                        {% if forloop.first %}
                            <th>{{ col }}</th>
                        {% else %}
                            <td class="{% if not col %}danger{% endif %}"
                                title="{{ col }}">
                                {{ col }}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'cdnrun/_diff_pager.html' %}
{% endblock %}
{% block extracss %}
<style>
    thead th a { color: white; }
    th, td { max-width: 150px; overflow: hidden; white-space: nowrap; }
</style>
{% endblock %}
