{% extends "base.html" %}
{% load cdnrun_tags %}
{% block title %}Youtube status{% endblock %}
{% block content %}
    <h1>{{ cdnrun.cdn_name }} caching status</h1>
    <div class="stats">
        <div class="row">
            {% if cdnrun.cdn == 'youtube' %}
                <div class="col-lg-6">
                    <iframe src="{{ cdnrun.embed_url }}" width="400" height="300"></iframe>
                </div>
                <div class="col-lg-6">
            {% else %}
                <div class="col-lg-6 col-lg-offset-3">
            {% endif %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a href="{{ cdnrun.meta_data.page_url }}">{{ cdnrun.meta_data.title }}</a>
                            <small>{{ cdnrun.meta_data.video_time }}</small>
                        </h3>
                    </div>
                    <table class="table table-striped">
                        <tr>
                            <td colspan="2" class="text-center">{{ cdnrun.run_at }}</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center">{{ cdnrun.meta_data.cachebox }}</td>
                        </tr>
                        <tr>
                            <th>Browser</th>
                            <td>{{ cdnrun.meta_data.browser }}</td>
                        </tr>
                        <tr>
                            <th>Player</th>
                            <td>{{ cdnrun.meta_data.player }}</td>
                        </tr>
                        <tr>
                            <th>Cached</th>
                            <td>
                                {{ cdnrun.cache_percent }}%
                                ({{ cdnrun.meta_data.cached_size|rounded_bytes:'B' }}
                                / {{ cdnrun.meta_data.total_size|rounded_bytes:'B' }})
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            {% for url_data in cdnrun.data %}
                <div class="col-lg-6">
                    <div class="panel panel-default url">
                        <div class="panel-heading">
                            {{ url_data.method }} {{ url_data.status }} {{ url_data.content_type }}
                        </div>
                        <table class="table table-striped">
                            <tr>
                                <th>URL</th>
                                <td>{{ url_data.url }}</td>
                            </tr>
                            <tr>
                                <th>Transform</th>
                                <td>{% firstof url_data.rewritten_url 'None' %}</td>
                            </tr>
                            <tr>
                                <th>Size</th>
                                <td>{{ url_data.size|rounded_bytes:'B' }}</td>
                            </tr>
                            <tr>
                                <th>Cache status</th>
                                <td>{{ url_data.cache_status }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <a class="btn btn-default show-detail">
                                        Show detail
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="modal fade" id="url-detail-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog container">
            <div class="modal-content row">
                <div class="modal-header col-lg-12">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body col-lg-12">
                </div>
                <div class="modal-footer col-lg-12">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extracss %}
    <style>
        .url, .panel-body { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
        .modal-dialog { width: 95%; }
    </style>
{% endblock %}
{% block extrajs %}
{% load jsonify %}
    <script>
        $(function() {
            var data = {{ cdnrun.data|jsonify }};

            var urls = d3.selectAll('.url').data(data)
                .attr('class', url_classes);
            urls.select('.show-detail').on('click', url_detail)
        });

        var url_detail = function(url) {
            d3.select('.modal-title').text(url.url);
            d3.selectAll('.url-detail').remove();
            var detail = d3.select('.modal-body').selectAll('.url-detail')
                .data([url]).enter().append('div').attr('class', 'url-detail');
            detail.call(function(elem) {
                var d = elem.data()[0];
                if (d.rewritten_url) {
                    elem.append('h3').text('Transformed URL: ');
                    elem.append('div').text(d.rewritten_url);
                }
                detail_table(elem, 'Query string parameters', d.query_string);
                detail_table(elem, 'Request headers', d.request_headers);
                detail_table(elem, 'Response headers', d.response_headers);
                detail_table(elem, 'Cookies', d.cookies);
            });
            $('#url-detail-modal').modal();
        };

        var detail_table = function(elem, header, data) {
            if (!data || data.length == 0) return;

            elem.append('h3').text(header);
            var tr = elem.append('table')
                .attr('class', 'table table-striped table-fixed')
                .append('tbody')
                .selectAll('tr').data(data)
                .enter().append('tr');
            tr.append('th')
                .attr('title', function(d) { return d.name; })
                .text(function(d) { return d.name.slice(0, 50); });
            tr.append('td')
                .attr('title', function(d) { return d.value; })
                .text(function(d) { return d.value.slice(0, 80); });
        };

        var url_classes = function(d, i) {
            var ptype = {
                'HIT/HIT': 'success',
                'MISS/HIT': 'info',
                'MISS/MISS': 'danger',
                'NA/NA': 'default'
            };
            return 'url panel panel-' + ptype[d.cache_status];
        };
    </script>
{% endblock %}

