{% extends "base.html" %}
{% load staticfiles %}
{% load compress %}
{% block title %}CDN Caching Status{% endblock %}
{% block content %}
    <div class="panel">
        <div class="panel-body">
            <div id="cdn-cache-graph" class="text-center"></div>
        </div>
        <div class="text-center panel-footer">
            <strong>Hint:</strong>
            Click the dots to view the run detail.<br>
            Click on the cdn names to go to diff view of the cdn runs.
        </div>
    </div>
    <div id="tooltip">
        <div class="panel panel-default">
            <div id="cdn-id" class="text-center panel-heading">
                <h3 class="panel-title">
                    <span>CDN</span> <small>2 Feb, 2014</small>
                </h3>
            </div>
            <table class="table table-striped table-fixed">
                <tr>
                    <td colspan="2" id="vtitle" class="text-center">
                        Video title
                    </td>
                </tr>
                <tr>
                    <th>Cached</th>
                    <td id="cached"></td>
                </tr>
                <tr>
                    <th>Browser</th>
                    <td id="browser"></td>
                </tr>
            </table>
            <div id="cachebox" class="text-center panel-footer">CACHEbox</div>
        </div>
    </div>
{% endblock %}
{% block extrajs %}
    {% compress js %}
        <script src="{% static 'js/d3.cdnrun.js' %}"></script>
    {% endcompress %}
    <script>
        !function() {
            var dataUrl = "{% url 'cdnrun-json' %}",
                plot = d3.cdnrun.dots('#cdn-cache-graph'),
                parseDate = d3.time.format.iso.parse;

            var type = function(data) {
                var cdns = d3.keys(data).sort(),
                    transformed = [];
                cdns.forEach(function(cdn) {
                    d3.map(data[cdn]).forEach(function(i, d) {
                        d.date = parseDate(d.checked_at);
                        d.percent = (d.cached_size / d.total_size) * 100.0;
                    });
                    transformed.push({
                        cdn: cdn,
                        diffUrl: '/cdn-status/' + cdn + '/diff/',
                        data: data[cdn]
                    });
                });
                return transformed;
            };

            var success = function(data) {
                if (data) { plot(type(data)); }
                else { console.log('Could not load data'); }
            };

            socket.on('cdnrun_load', function() {
                d3.json(dataUrl, success);
            });

            $(function() {
                d3.json(dataUrl, success);
            });
        }();
    </script>
{% endblock %}
{% block extracss %}
    <style>
        .axis path,
        .axis line {
            fill: none;
            stroke: none;
            shape-rendering: crispEdges;
        }
        .tick.major line { stroke: #ffc; }
        circle.dot, .cdn text { cursor: pointer; fill-opacity: 0.7; }
        text { stroke-opacity: 0.5; }
        #cdn-cache-graph { min-height: 300px; }
        #tooltip {
            width: 400px;
            display: none;
            position: fixed;
        }
        #tooltip .panel {
            margin: 0;
            font-size: 90%;
            border: 10px solid rgba(0, 0, 0, 0.5);
        }
        #tooltip .panel td {
            overflow: hidden;
            white-space: nowrap;
        }
    </style>
{% endblock %}
