.panel-body
    .row.run-detail
        .run-actions
            md-button.md-fab.md-primary(md-theme="green" ng-click="runScript()"
                                        ng-show="run.status === 'Waiting'"
                                        aria-label="run script")
                i.fa.fa-rocket
                md-tooltip Run Script
            md-button.md-fab.md-primary(md-theme="red" ng-click="resetTest('reset')"
                                        ng-show="run.state > 0"
                                        aria-label="reset")
                i.fa.fa-recycle
                md-tooltip Reset
            md-button.md-fab.md-primary(md-theme="indigo" ng-click="cloneTest()"
                                        aria-label="clone")
                i.fa.fa-copy
                md-tooltip Clone
        .col-sm-8
            .box.box-primary(ng-show="hasProgress()")
                .box-header
                    h2.box-title Progress Status
                .box-body
                    md-list#progress-wait
                        md-item
                            md-item-content
                                .md-tile-left
                                    md-progress-circular(mode="indeterminate")
                                .md-tile-content
                                    | Checking progress. Please wait...
                    div#progress-ts
                    dl#progress-status
            .box(ng-class="'box-'+run_css_class")
                .box-header
                    h2.box-title Description
                .box-body(btf-markdown="run.description")
            .box(ng-class="'box-'+run_css_class")
                .box-header
                    h2.box-title Report
                .box-body(btf-markdown="run.report")
            .row
                .col-sm-6
                    .box.box-info
                        .box-header
                            h2.box-title Control Parameters
                        table.table.table-bordered.table-striped
                            tr(ng-repeat="(input, value) in run.inputs")
                                th {{ input }}
                                td {{ value }}
                .col-sm-6
                    .box.box-primary
                        .box-header
                            h2.box-title Output Parameters
                        table.table.table-bordered.table-striped
                            tr(ng-repeat="(output, value) in run.outputs")
                                th {{ output }}
                                td {{ value }}
        .col-sm-4
            .box(ng-class="'box-'+run_css_class")
                .box-header
                    .box-title {{ run.status }}
                .box-body
                    dl
                        dt Script
                        dd {{ run.script_name }}
                        dt Created on
                        dd {{ run.created_on|date:'medium' }}
                        dt Started on
                        dd {{ run.started_on|date:'medium' }}
                        dt Completed on
                        dd {{ run.completed_on|date:'medium' }}
                        dt ETA
                        dd {{ run.eta|date:'medium' }}
                        dt Resources
                        dd
                            ul.list-unstyled
                                li(ng-repeat="resource in run.resources")
                                    i.fa(ng-class="'fa-'+resource_state_icon(resource)") &nbsp;
                                    a(ui-sref="resource.detail({resourceId: resource.id})")
                                        | {{ resource.title }}
                                    md-tooltip {{ resource.title }} is {{ resource.status }}
                        dt Team
                        dd
                            ul.list-unstyled
                                li {{ run.created_by.fullname }}
                                //li(ng-repeat="member in run.team")
                                    //| {{ member.fullname }}
                        dt Tags
                        dd
                            md-button.md-raised(ng-repeat="tag in run.tags"
                                                ui-sref="compare({type: 'tags', values: tag.slug})"
                                                aria-label="tag")
                                  | {{ tag.name }} ({{ tag.num_items }})
