.panel-body
    form.form-horizontal(name='editForm')
        .form-group(ng-class="{'has-error': editForm.title.$error.required}")
            label.control-label.col-md-2 Title
            .col-md-7
                input.form-control(name='title' ng-model="run.title" required)
            .col-md-3.text-warning(ng-show="editForm.$dirty")
                strong You have unsaved changes
        .form-group(ng-class="{'has-error': editForm.description.$error.required}")
            label.control-label.col-md-2 Description
            .col-md-7
                textarea.form-control(name='description' ng-model="run.description" rows="7" required)
        .form-group
            label.control-label.col-md-2 Report
            .col-md-7
                textarea.form-control(ng-model="run.report" rows="7")
        md-button.md-raised.md-primary.col-md-push-2(type="submit" aria-label="submit" ng-click="saveEdit()") Save
