.panel-body
    form.form-horizontal(ng-submit="searchLogs()" name="searchForm")
        .form-group
            .col-md-5
                .input-group
                    span.input-group-addon
                        i.fa.fa-file
                    select.form-control(ng-model="selected.log_file"
                                        ng-change="loadLogFile()"
                                        ng-options="selectLabel(file) group by file.group for file in log_files")
                    md-tooltip Select a log file to view
            .controls.col-md-4
                .input-group
                    span.input-group-addon
                        i.fa.fa-search
                    input.form-control(ng-model="selected.search"
                                       ng-minlength="3"
                                       name="search_input"
                                       placeholder="Search in all log files")
                    md-tooltip Search in all log files
                .text-danger.text-right(ng-show="searchForm.search_input.$error.minlength")
                    | At least 3 characters required
            .controls.col-md-3
                .input-group
                    span.input-group-addon
                        i.fa.fa-arrows-v
                    input.form-control(type="number" min="0" max="100"
                                       ng-model="selected.context")
                    md-tooltip Search context
            input.hide(type="submit")

    div.alert.alert-info.text-center(ng-show="!log_content")
        | Please select a log file or enter a search query

    .box.box-solid.bg-navy(ng-show="log_content")
        .box-header
            h2.box-title
                span(ng-show="selected.log_file") {{ selected.log_file.name }} &nbsp;
                span(ng-show="selected.search && !selected.log_file") Showing results for &nbsp;
                    strong {{ selected.search }} &nbsp;
                small.text-muted {{ log_content.length | byteFmt:2 }}
        pre.box-body {{ log_content }}
