.detail.panel(ng-class="'panel-'+run_css_class")
    .panel-heading
        h1.panel-title.text-center
            a(ui-sref="testrun.detail({runId: run.id})")
                | {{ run.title }}

    md-tabs(md-theme="{{run.theme}}" md-selected="selectedTab.index"
            md-theme-watch="true")
        md-tab(ng-repeat="tab in tabs" label="{{tab.label}}"
               md-on-select="setState(tab.state)")

    .main-view(ui-view="")
