.box.box-primary.box-solid
    .box-header
        h2.box-title dhcperf output
    .output-graph
    div(ng-repeat="pool in run.script_outputs")
        table.table.table-bordered.table-condensed
            tr.success
                th.text-center(colspan="11") DISCOVER (Pool size: {{ pool.pool.size }})
            tr.warning
                th Clients
                th(colspan="10") Leases per second
            tr(ng-repeat="test in pool.tests")
                td.text-right {{ test.clients }}
                td.text-right(ng-repeat="run in test.runs")
                    | {{ run.discover.qps }} &nbsp;
                    small.text-muted {{ run.discover.hwm }}
            tr.info
                th.text-center(colspan="11") RENEW (Pool size: {{ pool.pool.size }})
            tr.warning
                th Clients
                th(colspan="10") Leases per second
            tr(ng-repeat="test in pool.tests")
                td.text-right {{ test.clients }}
                td.text-right(ng-repeat="run in test.runs"
                              ng-class="run.renew.qps < 0 ? 'danger' : ''")
                    | {{ run.renew.qps }} &nbsp;
                    small.text-muted {{ run.renew.hwm }}


#tooltip
    .panel.panel-default
        .text-center.panel-heading
            h3.panel-title
                DHCP Lease Type: &nbsp;
                span
        table.table.table-striped.table-fixed
            tr
                th Pool size
                td#pool-size
            tr
                th No. of clients
                td#nclients
            tr
                th High water mark
                td#dhcp-hwm
            tr
                th LPS
                td#dhcp-qps
