.box.box-primary.box-solid
    .box-header
        h2.box-title Polygraph output
    .output-graph
    .row
        md-button.md-raised.md-primary.col-xs-10.col-xs-push-1(aria-label='Polyrun detail' ng-click='polyrunDetail()')
            | View Full Polygraph Report
    table.table.table-bordered
        thead
            tr
                th.text-right(rowspan="2") Phase
                th.text-center(colspan="2") RPS
                th.text-center(colspan="2") BHR
                th.text-center(colspan="2") DHR
                th.text-center(colspan="2") Mbps
                th.text-right(rowspan="2") % Errors
            tr
                th.text-right Measured
                th.text-right Offered
                th.text-right Measured
                th.text-right Offered
                th.text-right Measured
                th.text-right Offered
                th.text-right Measured
                th.text-right Offered
        tbody
            tr(ng-repeat="row in run.script_outputs"
               ng-class="row.errors > 0.1 ? 'danger' : row.errors > 0 ? 'warning' : ''")
                td.text-right {{ row.phase }}
                td.text-right {{ row.rps.measured }}
                td.text-right.text-muted
                    small {{ row.rps.offered }}
                td.text-right {{ row.bhr.measured }}
                td.text-right.text-muted
                    small {{ row.bhr.offered }}
                td.text-right {{ row.dhr.measured }}
                td.text-right.text-muted
                    small {{ row.dhr.offered }}
                td.text-right {{ row.mbps.measured }}
                td.text-right.text-muted
                    small {{ row.mbps.offered }}
                td.text-right {{ row.errors }}

.box.box-default
    .box-header
        .box-title Polygraph input
    table.table.table-bordered.table-striped
        tbody
            tr
                th Initialisation
                td {{ run.script_inputs.cache_init }}
            tr
                th Cache engine
                td {{ run.script_inputs.cache_engine }}
            tr
                th Proxy type
                td {{ run.script_inputs.proxy_type }}
            tr
                th {{ run.script_inputs.schedule_type }}
                td {{ run.script_inputs.schedule_value }} RPS
            tr
                th Phase duration
                td {{ run.script_inputs.duration }} minutes
            tr
                th Fill rate
                td {{ run.script_inputs.fill_rate }} RPS
            tr
                th Cache size
                td {{ run.script_inputs.cache_size }} GB
            tr
                th Recipe
                td {{ run.script_inputs.recipe }}
            tr
                th Repeatable
                td {{ run.script_inputs.repeatable }}
            tr
                th Test CDN
                td {{ run.script_inputs.test_cdn }}
