{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static from staticfiles %}
{% block content %}
    <div class="row" style="height:100%">
        <iframe src="{% static 'kibana-3.1.1/index.html' %}" width="100%"
            height="100%"
            style="overflow:hidden;width:100%;height:100%;min-height:800px"
            frameborder="0"></iframe>
    </div>

    <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal">
        Upload Access Log
    </button>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#upload-form">Upload</a></li>
                        <li><a data-toggle="tab" href="#file-list">Log files</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="upload-form">
                            {% crispy form %}
                        </div>
                        <div class="tab-pane" id="file-list">
                            <h2>Available Access Logs</h2>
                            <ul class="list-unstyled">
                                {% for f in files %}
                                <li><a href="{{ f.url }}">{{ f.name }}</a><li>
                                {% empty %}
                                    No access log found.
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
